<ion-header no-border no-shadow *ngIf="showHeader==true">
  <ion-toolbar no-border no-padding no-shadow>
    <!--<ion-buttons class="back-arrow" start *ngIf="selectedTab==4">
      <button full ion-button icon-only color='white' (click)="moveToHome()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title class="market-title">
      <button ion-buttion class="title-home-button" (click)="moveToHome()"><b>{{shopTitle}}</b></button>
    </ion-title>
    <ion-buttons end>
      <button class="home-cart" (click)="goToShoppingBasket()">
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs #myTabs [selectedIndex]="0" (ionChange)="onTabsChange()" color="white">
  <ion-tab [root]="tab1Root" tabTitle="홈" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="카테고리" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="검색" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="마이럭키" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="장바구니" show="false"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="주문완료" show="false"></ion-tab>
</ion-tabs>
