<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title><button ion-buttion clear class="title-home-button" (click)="moveToHome()">{{storageProvider.shopTitle}}</button></ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- 배송정보 시작(회원) -->
  <ion-grid class="delivery-info" *ngIf="isMember==true">
    <ion-row class="delivery-info-head">
      <ion-col class="delivery-info-label" no-padding col-10>
        <label>1. 배송 정보</label>
      </ion-col>
      <ion-col no-padding col-2>
        <ion-icon (click)="hideDeliveryInfo()" *ngIf="showDeliveryInfo==true" class="info-icon" name="ios-arrow-up"></ion-icon>
        <ion-icon (click)="hideDeliveryInfo()" *ngIf="showDeliveryInfo==false" class="info-icon" name="ios-arrow-down"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="delivery-segment-row" *ngIf="showDeliveryInfo==true">
      <ion-col class="basic-segment" [ngClass]="basicPlaceStyle" (click)="selectBasicPlaceSegment()"> 
        <p>기본 배송지</p>
      </ion-col>
      <ion-col class="new-segment" [ngClass]="newPlaceStyle" (click)="selectNewPlaceSegment()">
        <p>새로운 배송지</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showDeliveryInfo==true" class="delivery-detail-basic">
      <!-- 기존 배송지 시작 -->
      <ion-grid class="delivery-basic-list" *ngIf="selectedDeliveryType=='memberSaved'">
        <ion-row class="delivery-basic-name">
          <div class="name-label"><p>받는 분</p></div>
          <div class="delivery-name"><p>{{customInfo.receiverName}}</p></div>
        </ion-row>
        <ion-row class="delivery-basic-place">
          <!--popover 방식으로 구현-->
          <div class="place-label">
            <p>배송지 선택</p>
          </div>
          <button class="delivery-place" ion-button clear (click)="presentPopover()">
            <div class="delivery-text">{{customInfo.receiverAddress}}</div>
            <div class="delivery-icon"><ion-icon name="ios-arrow-down"></ion-icon></div>
          </button>
        </ion-row>
        <ion-row class="delivery-basic-phone">
          <div class="phone-label"><p>연락처</p></div>
          <div class="delivery-phone"><p>{{customInfo.receiverMobile}}</p></div>
        </ion-row>
        <ion-row class="delivery-basic-time">
          <div class="time-label"><p>배송시간</p></div>
          <div class="arrow-down-icon"></div>
          <select [(ngModel)]="orderInfo.deliveryTime" class="delivery-time">
            <option disabled hidden>선택사항</option>
            <option *ngFor="let deliveryTime of deliveryTimeLists">{{deliveryTime}}</option>
          </select>
        </ion-row>
        <ion-row class="delivery-basic-memo">
          <div class="memo-label"><p>배송메모</p></div>
          <div class="arrow-down-icon"></div>
          <select [(ngModel)]="orderInfo.deliveryMemo" class="delivery-memo">
            <option disabled hidden>선택사항</option>
            <option *ngFor="let deliveryMemo of deliveryMemoLists">{{deliveryMemo}}</option>
          </select>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- 기존 배송지 끝 -->

    <!-- 새로운 배송지 시작 -->
    <ion-row *ngIf="showDeliveryInfo==true" class="delivery-detail-new">
      <ion-grid class="delivery-new-grid" *ngIf="selectedDeliveryType=='memberNew'">
        <!-- 받는분 입력 -->
        <ion-row class="delivery-new-name">
          <div class="name-label">
            <p>받는 분</p>
          </div>
          <ion-input [(ngModel)]="receiverName" class="delivery-name" type="text"></ion-input>
        </ion-row>
        <!-- 주소 입력 -->
        <ion-row class="delivery-new-place">
          <div class="place-label">
            <p>주소</p>
          </div>
          <button clear class="addr-find" ion-button>주소 찾기</button>
          <ion-input [(ngModel)]="address1" class="delivery-place1" type="text"></ion-input>
        </ion-row>
        <ion-row class="delivery-new-place">
          <div class="place-label"></div>
          <ion-input [(ngModel)]="address2" class="delivery-place2" type="text"></ion-input>
        </ion-row>
        <ion-row class="delivery-new-place">
          <div class="place-label"></div>
          <ion-input [(ngModel)]="address3" class="delivery-place2" placeholder="상세 주소를 입력해 주세요" type="text"></ion-input>
        </ion-row>
        <!-- 휴대폰 입력 -->
        <ion-row class="delivery-new-phone">
          <div class="phone-label">
            <p>연락처</p>
          </div>
          <div class="delivery-phone">
            <div class="arrow-down-icon"></div>
            <select [(ngModel)]="receiverMobile1">
              <option *ngFor="let mobileOptionList of mobileOptionLists">{{mobileOptionList}}</option>
            </select>
            <span><p>-</p></span>
            <ion-input [(ngModel)]="receiverMobile2" class="phone-input" type="tel" maxlength="4"></ion-input>
            <span><p>-</p></span>
            <ion-input [(ngModel)]="receiverMobile3" class="phone-input" type="tel" maxlength="4"></ion-input>
          </div>
        </ion-row>
        <ion-row class="delivery-new-time">
          <div class="time-label">
            <p>배송시간</p>
          </div>
          <div class="arrow-down-icon"></div>
          <select [(ngModel)]="orderInfo.deliveryTime" class="delivery-time">
            <option disabled hidden>선택사항</option>
            <option *ngFor="let deliveryTime of deliveryTimeLists">{{deliveryTime}}</option>
          </select>
        </ion-row>
        <ion-row class="delivery-new-memo">
          <div class="memo-label">
            <p>배송메모</p>
          </div>
          <div class="arrow-down-icon"></div>
          <select [(ngModel)]="orderInfo.deliveryMemo" class="delivery-memo">
            <option disabled hidden>선택사항</option>
            <option *ngFor="let deliveryMemo of deliveryMemoLists">{{deliveryMemo}}</option>
          </select>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- 새로운 배송지 끝 -->
  </ion-grid>
  <!-- 배송정보 끝(회원) -->

  <!-- 비회원 시작 -->
  <!-- 주문자 정보 시작(비회원)-->
  <ion-grid class="orderer-info" *ngIf="isMember==false">
    <ion-row class="orderer-info-head">
      <label class="orderer-info-label">1. 주문자 정보</label>
    </ion-row>
    <ion-row class="orderer-name">
      <div class="orderer-name-label">
        <p>보내는 분</p>
      </div>
      <ion-input [(ngModel)]="ordererName" class="orderer-name-input" type="text"></ion-input>
    </ion-row>
    <ion-row class="orderer-phone">
      <div class="orderer-phone-label">
        <p>연락처</p>
      </div>
      <div class="orderer-phone-input">
        <div class="arrow-down-icon"></div>
        <select [(ngModel)]="ordererMobile1">
          <option *ngFor="let mobileOptionList of mobileOptionLists">{{mobileOptionList}}</option>
        </select>
        <span>
          <p>-</p>
        </span>
        <ion-input [(ngModel)]="ordererMobile2" class="phone-input" type="tel" maxlength="4"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input [(ngModel)]="ordererMobile3" class="phone-input" type="tel" maxlength="4"></ion-input>
      </div>
    </ion-row>
    <ion-row class="orderer-email">
      <div class="orderer-email-label">
        <p>이메일</p>
      </div>
      <ion-input [(ngModel)]="ordererEmail" class="orderer-email-input" type="text"></ion-input>
    </ion-row>
  </ion-grid>
  <!-- 주문자 정보 시작(비회원)-->

  <!-- 2. 배송 정보 시작 (비회원) -->
  <ion-grid class="orderer-info" *ngIf="isMember==false">
    <ion-row class="delivery-info-head">
      <ion-col class="delivery-info-label" no-padding col-10>
        <label>2. 배송 정보</label>
      </ion-col>
      <ion-col no-padding col-2>
        <ion-icon (click)="hideDeliveryInfo()" *ngIf="showDeliveryInfo==true" class="info-icon" name="ios-arrow-up"></ion-icon>
        <ion-icon (click)="hideDeliveryInfo()" *ngIf="showDeliveryInfo==false" class="info-icon" name="ios-arrow-down"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- 받는분 입력 -->
    <ion-row class="delivery-new-name" *ngIf="showDeliveryInfo==true">
      <div class="name-label">
        <p>받는 분</p>
      </div>
      <ion-input [(ngModel)]="receiverName" class="delivery-name" type="text"></ion-input>
    </ion-row>
    <!-- 주소 입력 -->
    <ion-row class="delivery-new-place" *ngIf="showDeliveryInfo==true">
      <div class="place-label">
        <p>주소</p>
      </div>
      <button clear (click)="findAddr()" class="addr-find" ion-button>주소 찾기</button>
      <ion-input [(ngModel)]="address1" class="delivery-place1" type="text"></ion-input>
    </ion-row>
    <ion-row class="delivery-new-place" *ngIf="showDeliveryInfo==true">
      <div class="place-label"></div>
      <ion-input [(ngModel)]="address2" class="delivery-place2" type="text"></ion-input>
    </ion-row>
    <ion-row class="delivery-new-place" *ngIf="showDeliveryInfo==true">
      <div class="place-label"></div>
      <ion-input [(ngModel)]="address3" class="delivery-place2" placeholder="상세 주소를 입력해 주세요" type="text"></ion-input>
    </ion-row>
    <!-- 휴대폰 입력 -->
    <ion-row class="delivery-new-phone" *ngIf="showDeliveryInfo==true">
      <div class="phone-label">
        <p>연락처</p>
      </div>
      <div class="delivery-phone">
        <div class="arrow-down-icon"></div>
        <select [(ngModel)]="receiverMobile1">
          <option *ngFor="let mobileOptionList of mobileOptionLists">{{mobileOptionList}}</option>
        </select>
        <span>
          <p>-</p>
        </span>
        <ion-input [(ngModel)]="receiverMobile2" class="phone-input" type="tel" maxlength="4"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input [(ngModel)]="receiverMobile3" class="phone-input" type="tel" maxlength="4"></ion-input>
      </div>
    </ion-row>
    <ion-row class="delivery-new-time" *ngIf="showDeliveryInfo==true">
      <div class="time-label">
        <p>배송시간</p>
      </div>
      <div class="arrow-down-icon"></div>
      <select [(ngModel)]="orderInfo.deliveryTime" class="delivery-time">
        <option disabled hidden>선택사항</option>
        <option *ngFor="let deliveryTime of deliveryTimeLists">{{deliveryTime}}</option>
      </select>
    </ion-row>
    <ion-row class="delivery-new-memo" *ngIf="showDeliveryInfo==true">
      <div class="memo-label">
        <p>배송메모</p>
      </div>
      <div class="arrow-down-icon"></div>
      <select [(ngModel)]="orderInfo.deliveryMemo" class="delivery-memo">
        <option disabled hidden>선택사항</option>
        <option *ngFor="let deliveryMemo of deliveryMemoLists">{{deliveryMemo}}</option>
      </select>
    </ion-row>
  </ion-grid>
  <!-- 2. 배송 정보 끝 (비회원) -->
  <!-- 비회원 끝 -->

  <!-- 상품 정보 시작-->
  <ion-list class="product-info">
    <ion-item class="product-info-head">
      <label class="product-info-label" *ngIf="isMember==true"> 2. 상품 정보</label>
      <label class="product-info-label" *ngIf="isMember==false">3. 상품 정보</label>
      <button (click)="hideProductInfo()" class="info-icon" item-end clear ion-button icon-only>
        <ion-icon class="ion-icon" *ngIf="showProductInfo==true" name="ios-arrow-up"></ion-icon>
        <ion-icon class="ion-icon" *ngIf="showProductInfo==false" name="ios-arrow-down"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list class="product-info-list" *ngIf="showProductInfo==true">
    <ion-item class="product-detail-item" *ngFor="let product of orderInfo.orderedProducts">
      <img class="thumbnail-img" src = "{{product.imagePath}}">
      <p class="product-info-name"><b>상품명 : {{product.productName}}</b></p><p class="product-info-compo">구성/용량</p>
      <p class="product-info-count"><b>수량 : {{product.count}}</b></p>
      <p class="product-info-price"><b>혜택가 : {{product.salePrice * product.count}}</b></p>
    </ion-item>
  </ion-list>
  <!-- 상품 정보 끝 -->

  <!-- 결재 정보 시작 -->
  <ion-list class="payment-info">
    <ion-item class="payment-info-head">
      <label class="payment-info-label" *ngIf="isMember==true"> 3. 결제 금액</label>
      <label class="payment-info-label" *ngIf="isMember==false">4. 결제 금액</label>
      <button (click)="hidePaymentInfo()" class="info-icon" item-end clear ion-button icon-only>
        <ion-icon class="ion-icon" *ngIf="showPaymentInfo==true" name="ios-arrow-up"></ion-icon>
        <ion-icon class="ion-icon" *ngIf="showPaymentInfo==false" name="ios-arrow-down"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="payment-info-item" *ngIf="showPaymentInfo==true"> 
      <label class="payment-info-label">상품금액</label>
      <p item-end class="product-price">{{orderInfo.orderPrice}}원</p>
    </ion-item>
    <ion-item class="payment-info-item" *ngIf="showPaymentInfo==true">
      <label class="payment-info-label">할인금액</label>
      <ion-icon item-end name="md-remove-circle"></ion-icon>
      <p item-end class="product-price">{{orderInfo.sale}}원</p>
    </ion-item>
    <ion-item class="payment-info-item" *ngIf="showPaymentInfo==true">
      <label class="payment-info-label">배송비</label>
      <ion-icon item-end name="md-add-circle"></ion-icon>
      <p item-end class="product-price">{{orderInfo.deliveryFee}}원</p>
    </ion-item>
    <ion-item class="payment-info-item-last" *ngIf="showPaymentInfo==true">
      <label class="payment-info-label">최종 결제금액</label>
      <p item-end class="product-total-price">{{orderInfo.totalPrice}}원</p>
    </ion-item>
  </ion-list>
  <!-- 결재 정보 끝 -->
  <!-- 결제 방법 시작 -->
  <ion-list class="payment-method-info" style="margin-bottom:0;">
    <ion-item class="payment-method-head">
      <label class="payment-method-label" *ngIf="isMember==true"> 4. 결제 수단</label>
      <label class="payment-method-label" *ngIf="isMember==false">5. 결제 수단</label>
      <button (click)="hidePaymentMethodInfo()" class="info-icon" item-end clear ion-button icon-only>
        <ion-icon class="ion-icon" *ngIf="showPaymentMethodInfo==true" name="ios-arrow-up"></ion-icon>
        <ion-icon class="ion-icon" *ngIf="showPaymentMethodInfo==false" name="ios-arrow-down"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="payment-method-cash" (click)="selectedPaymentMethod('cash')" *ngIf="showPaymentMethodInfo==true">
      <div [style.backgroundColor]="paymentMethodColor.cash">
        <p>현장결제</p>
      </div>
    </ion-item>
    <ion-item class="payment-method-card" (click)="selectedPaymentMethod('card')" *ngIf="showPaymentMethodInfo==true">
      <div [style.backgroundColor]="paymentMethodColor.card" >
        <p>신용카드</p>
      </div>
    </ion-item>
    <ion-item class="payment-method-bank" (click)="selectedPaymentMethod('bank')" *ngIf="showPaymentMethodInfo==true">
      <div [style.backgroundColor]="paymentMethodColor.bank">
        <p>무통장입금</p>
      </div>
    </ion-item>
  </ion-list>
  <!-- 결제 방법 끝 -->
  <button (click)="confirmOrder()" class="payment-submit" full ion-button>결제하기</button>
</ion-content>