page-order {

    .scroll-content{
        background-color: $background-color;
    }

    /* 주문 페이지 header 시작 */
    ion-header{
        height: 50px;

        .toolbar{
            padding: 0;
            height: 50px;
            min-height: 50px;

            .toolbar-background{
                background-color: $default-title-color;
            }

            .back-button{
                color:$white-btn-color;
                min-width: 40px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                margin-left: 8px;
                
                .back-button-icon{
                    font-size:$large-icon-size;
                    padding:0;
                }
            }

            .toolbar-title{
                text-align: center;
                padding:0;
                
                button{
                    color:$white-btn-color;
                    text-align: center;
                    font-weight: 600;
                }
            }

            .title-home-button{
                font-size:$title-font-size;
                text-align: center;
                color: $white-title-color;
                background-color: $default-title-color;
                height: 34px;
                margin:0;
                padding:0;
            }
        }
    }
    /* 주문 페이지 header 끝 */

    /* 공통 정보 */
    ion-grid{
        background-color: $white-background-color;
    }

    ion-row{
        width:100%;
        
        ion-col{
            display: flex;
            align-items: center;

            ion-icon{
                width: 100%;
                padding-right:8px;
                color:$icon-color-black;
                font-size:$large-icon-size;
                margin:0;
                text-align: right;
                display:block;
            }
        }
    }

    /* 배송정보 시작 */ 
    .delivery-info, .delivery-non-info{
        margin:16px 8px 0px;
        width: calc(100% - 16px);
        height: auto;
        padding:0;
        background-color: $background-color;

        .delivery-info-head{
            background-color: $white-background-color;
            width: 100%;
            height: 38px;
            padding:0;
            padding-left:8px;
            margin-bottom: 2px;

            .delivery-info-label{
                height:40px;

                label{
                    font-size:$nav-font-size;
                    font-weight: bold;
                }
            }
        }
    }

    .delivery-segment-row{
        height: 31px;
        width: 100%;
        
        p{
            margin:0;
            width:100%;
            font-size:$label-font-size;
            text-align: center;
        }

        .select-segment{
            background-color: $white-background-color;
            font-weight:normal;
            border:none;
            height: 31px;
            padding: 0;
        }   

        .unselect-segment{
            background-color: $background-color;
            border-bottom:2px solid $border-color;
            height: 31px;
            padding: 0;
            
            p{
                color:$default-font-color;
                font-weight:bold;
            }
        }
    }

    /* 기본 배송지 시작 */ 
    .delivery-detail-basic{
        width:100%;
        height: auto;
        padding-top:2px;
        background-color: $white-background-color;

        .delivery-basic-list{
            margin:0;
            padding:0;
        }

        .delivery-basic-name{
            padding-left:8px;
            height: 33px;

            .name-label{
                margin: 0;
                width:100px;
                display: flex;
                float:left;
                align-items: center;
                font-weight: 800;
            }

            p{
                margin:0;
            }

            .delivery-name{
                display: flex;
                align-items: center;
            }
        }

        .delivery-basic-place{
            width:100%;
            height: 95px;
            padding-left:8px;

            .place-label{
                width:100px;
                max-width: 100px;
                height: 95px;
                
                p{
                    color:$label-color-title;
                    font-weight: bold;
                    margin-top:8px;
                }
            }

            .delivery-place{
                width:calc(100% - 100px);
                height:95px;
                border:1px solid $border-color;
                padding:0;
                display:block;
                margin:0;
                white-space: normal;

                .delivery-text{
                    height: 100%; 
                    width: 100%; 
                    color:$black-font-color; 
                    text-align:left;
                    font-size:$default-font-size;
                    line-height: 3rem;
                }

                .delivery-icon{
                    height: 100%; 
                    width: 33px; 
                    color:$icon-color-default; 
                    display: flex;
                    align-items: center;

                    .icon{
                        width: 33px;
                        margin:0;
                        font-size:$icon-size;
                    }
                }
            }
        }

        .delivery-basic-phone, .delivery-basic-time, .delivery-basic-memo{
            width:100%;
            height: 33px;
            padding-left:8px;
            margin-top:2px;

            .phone-label, .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                display: flex;
                align-items: center;
                float: left;

                p{
                    font-size: $label-font-size;
                    margin: 0;
                    font-weight: bold;
                }
            }

            .delivery-phone{
                 width:calc(100% - 100px);
                height: 33px;
                display: flex;
                align-items: center;
                float: right;
                border:1px solid $border-color;

                p{
                    margin:0;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:$icon-color-default;
                position: absolute;
                right:1.8rem;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                 width:calc(100% - 100px);
                height: 33px;
                display: block;
                float: right;
                font-size:$default-font-size;
                color:$default-font-color;
                font-weight: bold;
                padding-left:8px;
                background-color: $white-background-color;
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-basic-memo{
            margin-bottom:8px;
        }

        .delivery-basic-time .arrow-down-icon{
            top:260px;
        }
        
        .delivery-basic-memo .arrow-down-icon{
            top:295px;
        }
    }
    /* 기본 배송지 끝 */
    
    /* 새로운 배송지 */
    .delivery-detail-new{
        /* 공통 부분 시작 */
        .delivery-new-grid{
            padding:0;
            padding-left:8px;
        }

        ion-row{
            margin:0;
            margin-bottom: 2px;
            padding:0;
            height: 33px;

            div{
                width:100px;
                display: flex;
                align-items: center;

                p{
                    margin:0;
                    font-size:$label-font-size;
                    font-weight: bold;
                }
            }

            ion-input{
                border: 1px solid $border-color;

                .text-input{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    font-size:$default-font-size;
                    padding-left:8px;
                }

                ::-webkit-input-placeholder {
                    font-size:$default-font-size;
                }

                :-moz-placeholder {
                    font-size:$default-font-size;
                }

                :-ms-input-placeholder { 
                    font-size:$default-font-size;
                }
            }
            
            button{
                margin: 0;
                padding: 0;
                background-color: $background-color;
                color:$black-font-color;
                height: 33px;
                width: 64px;
                min-width:64px;
                font-size:$small-font-size;
                font-weight: bold;
                border:1px solid $border-color;
            }
        }
        /* 공통 부분 끝 */

        /* 받는분은 기본 변경사항으로 충분하기에 따로 수정x*/

        /* 주소 입력 */
        .delivery-new-place{
            height: 30px;
            margin-bottom: 2px;

            .addr-find{
                width:64px;
                height: 30px;
            }

            .delivery-place1{
                margin-left:12px;
            }
            /* delivery-place2 는 기본 변경사항으로 충분하기 때문에 따로 수정 x*/
        }
        
        /* 전화 번호 입력 */
        .delivery-new-phone{

            .delivery-phone{
                width:calc(100% - 100px);

                select{
                    width: calc((100% - 26px)/3);
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:1.4rem;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid $border-color;
                    background-color: $white-background-color;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:$icon-color-default;
                    position: absolute;
                    top:226px;
                    left:calc(46px + (100%/3));
                    width: 12px;
                    height: 12px;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: normal;
                }

                ion-input{
                    width:calc((100% - 26px)/3);
                    height: 100%;
                    border: 1px solid $border-color;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:1.4rem;
                    }
                }
            }
        }

        .delivery-new-time .arrow-down-icon{
            top:261px;
        }

        .delivery-new-memo .arrow-down-icon{
            top:296px;
        }

        .delivery-new-time, .delivery-new-memo{
            width:100%;
            height: 33px;

            .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                float: left;

                p{
                    font-size: $label-font-size;
                    font-weight: bold;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:$icon-color-default;
                position: absolute;
                right:18px;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                width:calc(100% - 100px);
                height: 33px;
                display: block;
                float: right;
                font-size:$default-font-size;
                color:$default-font-color;
                border: 1px solid $border-color;
                font-weight: bold;
                padding-left:8px;
                background-color: $white-background-color;
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-new-memo{
            height: 41px;
            padding-bottom: 8px;
        }
    }
    /* 새로운 배송지 끝*/

    /* 비회원 배송 시작 */
    .orderer-info{
        background-color: $background-color;
        padding:0;
        width:calc(100% - 16px);
        margin: 16px 8px 8px 8px;

        /* 공통사항 */
        ion-row{
            margin:0;
            padding:0;
            padding-left:8px;
            height: 33px;
            background-color: $white-background-color;

            div{
                width:100px;
                display: flex;
                align-items: center;

                p{
                    margin:0;
                    font-size:$default-font-size;
                    font-weight: bold;
                }
            }

            ion-input{

                border: 1px solid $border-color;
                margin:1px 0;

                .text-input{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    font-size:$default-font-size;
                    padding-left:8px;
                }

                ::-webkit-input-placeholder {
                    font-size:$default-font-size;
                }

                :-moz-placeholder {
                    font-size:$default-font-size;
                }

                :-ms-input-placeholder { 
                    font-size:$default-font-size;
                }
            }

            button{
                margin: 1px 0;
                padding: 0;
                background-color: $background-color;
                color:$black-font-color;
                height: 33px;
                width: 64px;
                min-width:64px;
                font-size:$small-font-size;
                font-weight: bold;
                border:1px solid $border-color;
            }
        }
        /* 공통부분 끝 */ 

        /* 주문자 정보 부분 시작 */
        .orderer-info-head{
            height:38px;
            margin-bottom: 2px;
            display: flex;
            align-items: center;

            label{
                font-size:$nav-font-size;
                font-weight: bold;
            }
        }
        
        /* 전화 번호 입력 */
        .orderer-phone{

            .orderer-phone-input{
                width:calc(100% - 100px);

                select{
                    width: calc((100% - 26px)/3);
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:$default-font-size;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid $border-color;
                    margin:1px 0;
                    background-color: $white-background-color;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:$icon-color-default;
                    position: absolute;
                    top:96px;
                    left:calc(46px + (100%/3));
                    //left:168px;
                    width: 12px;
                    height: 12px;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: normal;
                }

                ion-input{
                    width: calc((100% - 26px)/3);
                    height: 31px;
                    border: 1px solid $border-color;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:$default-font-size;
                    }
                }
            }
        }

        /* 이메일 입력 */
        .orderer-email{
            height: 39px;
            
            padding-bottom:8px;
        }
        /* 주문자 정보 부분 끝 */

        /* 비회원 배송정보 시작 */
        /* 배송정보 head */
        .delivery-info-head{
            background-color: $white-background-color;
            width: 100%;
            height: 38px;
            padding:0;
            padding-left:8px;
            margin-bottom: 2px;

            .delivery-info-label{
                height:40px;

                label{
                    font-size:$nav-font-size;
                    font-weight: bold;
                }
            }
        }

        .delivery-new-name{
            padding-top:1px;
            height: 34px;
        }
        
        /* 주소 입력 */
        .delivery-new-place{
            height: 30px;

            .addr-find{
                width: 64px;
                height: 28px;
            }

            .delivery-place1{
                margin-left:12px;
            }
            /* delivery-place2 는 기본 변경사항으로 충분하기 때문에 따로 수정 x*/
        }

         /* 전화 번호 입력 */
        .delivery-new-phone{

            .delivery-phone{
                width:calc(100% - 100px);

                select{
                    width: calc((100% - 26px)/3);
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:$default-font-size;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid $border-color;
                    margin:1px 0;
                    background-color: $white-background-color;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:$icon-color-default;
                    position: absolute;
                    top:349px;
                    left:calc(46px + (100%/3));
                    //left:168px;
                    width: 12px;
                    height: 12px;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: normal;
                }

                ion-input{
                    width: calc((100% - 26px)/3);
                    height: 31px;
                    border: 1px solid $border-color;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:$default-font-size;
                    }
                }
            }
        }

        .delivery-new-time .arrow-down-icon{
            top:383px;
        }

        .delivery-new-memo .arrow-down-icon{
            top:417px;
        }

        .delivery-new-time, .delivery-new-memo{
            width:100%;

            .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                float: left;
                display: flex;
                align-items: center;

                p{
                    font-size: $default-font-size;
                    font-weight: bold;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:$background-color;
                position: absolute;
                right:18px;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                width:calc(100% - 100px);
                height: 31px;
                display: block;
                float: right;
                font-size:$default-font-size;
                color:$default-font-color;
                border: 1px solid $border-color;
                margin:1px 0;
                font-weight: bold;
                padding-left:8px;
                background-color: $white-background-color;
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-new-memo{
            height: 39px;
            padding-bottom: 8px;
        }
        /* 비회원 배송정보 끝 */
    }
    /* 비회원 배송 끝 */
    /* 배송정보 끝 */

    /* 상품/결제/결제수단 정보 시작 */
    .product-info, .payment-info, .payment-method-info{
        margin:8px;
        height: auto;
        background-color:$background-color;

        .product-info-head, .payment-info-head, .payment-method-head{
            height: 38px;
            min-height: 38px;
            padding: 0;
            padding-left: 8px;
            margin-bottom: 2px;
            background-color: $white-background-color;

            .item-inner{
                padding: 0;
                border:none;   
                
                .label{
                    margin:0;
                    font-size: $nav-font-size;
                    font-weight: bold;
                }

                .info-icon{
                    margin:0;
                    font-size:1.8rem;
                    width:40px;
                    height: 40px;
                    color:$icon-color-black;
                }
            }
        }

        .payment-info-item, .payment-info-item-last{
            height: 31px;
            min-height: 31px;
            padding:0;

            .item-inner{
                border:none;
                padding:0;
                padding-left: 8px;

                .label{
                    margin:0;
                    width:100px;
                    font-weight: bold;
                    font-size:$label-font-size;
                }

                .product-price{
                    margin:0;
                    margin-left:24px;
                    padding-right:8px;
                    font-weight: normal;
                }

                .product-total-price{
                    font-size:$large-font-size;
                    font-weight: bold;
                    color:$font-color-highlight;
                    margin:0;
                    padding-right:8px;
                }

                ion-icon{
                    margin:0;
                    font-size:$large-font-size;
                    color:$icon-color-default;
                    padding-top:5px;
                }

                p{
                    width:80px;
                    text-align: right;
                }
            }
        }

        .payment-info-item-last{
            height: 39px;
            padding-bottom:8px;
            
            .item-inner p{
                width:100px;
                text-align: right;
            }
        }

        

        .payment-method-cash, .payment-method-card, .payment-method-bank{
            width:100%;

            .label{
                margin:0;
                font-weight: bold;
                height: 100%;
                
                div{
                    display: flex;
                    align-items: center;
                    height: 100%;

                    p{  
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .item-inner{
                border:1px solid $border-color;
                padding:0;
                height: 33px;
                min-height: 33px;
            }
        }

        .payment-method-cash{
            margin:0;
            padding:8px 8px 0px;
            height: 41px;
            min-height: 41px;

            .item-inner{
                border-bottom:none;
            }
        }

        .payment-method-card{
            margin:0;
            padding:0 8px;
            height: 33px;
            min-height: 33px;
        }

        .payment-method-bank{
            margin:0;
            padding:0 8px 8px;
            height: 41px;
            min-height: 41px;
            border:none;

            .item-inner{
                height: 33px;
                min-height: 33px;
                border-bottom:1px solid $border-color !important;
                border-top:none;
            }
        }
    }

    .product-info{
        margin-bottom: 0px;
    }

    .product-info-list{
        margin:0px 8px 8px;
        height: auto;
        background-color:$background-color;

        .product-detail-item{
            height: 144px;
            
            padding:0;

            .item-inner{
                padding:0;
            }

            .label{
                margin:0;
                width:auto;
                height: 144px;
                padding:8px 0 8px 8px;

                .thumbnail-img{
                    height: 64px;
                    width: 64px;
                    float: left;
                }

                .product-info-name{
                    float: left;
                    margin:0;
                    padding-left:8px;
                    height: 64px;
                    font-size:16px;
                }

                .product-info-compo{
                    margin:0;
                    padding-left:8px;
                    height: 64px;
                    padding-top:5px;
                    font-size:12px;
                }

                .product-info-count, .product-info-price{
                    margin:0;
                    padding-left:72px;
                    height: 31px;
                    padding-top:5px;
                    font-size: 16px;
                }
            }
        }
    }
    /* 상품/결제/결제수단 정보 끝 */

    /* 결재 확인 */
    .payment-submit{
        margin:0;
        height: 46px;
        font-size:$btn-font-size;
        background-color: $default-btn-color;
        font-weight: bold;
    }
}

/* 배송지 선택 popup */
.delivery-popover{
    box-shadow: 1px;

    .popover-wrapper{
        height: auto;

        .popover-content{
            width: calc(100% - 16px) !important;
            height: auto !important;
            position: absolute;
            top:170px   !important;
            left:0.8rem !important;
        }
    }
}