page-order {

    .scroll-content{
        background-color: color($colors,default);
    }

    /* 주문 페이지 header 시작 */
    ion-header{
        height: 50px;

        .toolbar{
            padding: 0;
            height: 50px;
            min-height: 50px;

            .toolbar-background{
                background-color: color($colors, title);
            }

            .back-button{
                color:white;
                min-width: 40px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                margin-left: 8px;

                .back-button-icon{
                    font-size:32px;
                    padding:0;
                }
            }

            .toolbar-title{
                text-align: center;
                padding:0;
                
                button{
                    color:white;
                    text-align: center;
                    font-weight: 600;
                }
            }

            .title-home-button{
                text-align: center;
                color: color($colors, light);
                background-color: color($colors, title);
                width: 144px;
                height: 34px;
                font-size:18px;
                margin:0;
                padding:0;
            }
        }
    }

    /* 주문 페이지 header 끝 */

    /* 공통 정보 */
    ion-grid{
        background-color: white;
    }

    ion-row{
        width:100%;
                
        ion-icon{
            width: 40px;
            height:40px;
            display:block;
            float:right;
            font-size:30px;
            margin:0;
            padding-top:5px;
            text-align: center;
        }

    }

    /* 배송정보 시작 */ 
    .delivery-info, .delivery-non-info{
        margin:16px 8px 0px;
        width: 344px;
        height: auto;
        padding:0;

        .delivery-info-head{
            background-color: white;
            width: 100%;
            height: 40px;
            padding:0;
            padding-left:8px;
            border-bottom:2px solid color($colors,default);

            .delivery-info-label{
                height:40px;
                padding-top:8px;

                label{
                    font-size:16px;
                    font-weight: 500;
                }
            }
        }
    }

    .delivery-segment-row{
        height: 31px;
        width: 100%;
        
        p{
            margin:0;
            margin-top:6px;
            font-size:14px;
            text-align: center;
            font-weight: 500;
        }

        .select-segment{
            background-color: white;
            border:none;
            height: 31px;
            padding: 0;
        }   

        .unselect-segment{
            background-color: color($colors, default);
            border-bottom:2px solid gray;
            height: 31px;
            padding: 0;
            
            p{
                color:gray;
            }
        }
    }

    /* 기본 배송지 시작 */ 
    .delivery-detail-basic{
        width:100%;
        height: auto;
        margin-top:1px;

        .delivery-basic-list{
            margin:0;
            padding:0;
        }

        .delivery-basic-name{
            padding-left:8px;
            height: 33px;

            .name-label{
                margin: 0;
                width:100px;
                display: block;
                float:left;
                font-weight: 800;
            }

            p{
                margin:7px 0;
            }
        }

        .delivery-basic-place{
            width:100%;
            height: 95px;
            padding-left:8px;

            .place-label{
                width:100px;
                max-width: 100px;
                height: 95px;
                p{
                    color:color($colors,title);
                    font-weight: 600;
                    margin-top:8px;
                }
            }

            .select-icon-inner{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:color($colors,title);
                margin:0;
                text-align: center;
                top:37%;
                left:30%;
                display: block;
                width: 12px;
                height: 12px;
            }

            .delivery-place{
                width:236px;
                
                height:95px;
                border:1px solid gray;
                padding:0;
                display:block;
                margin:0;
                white-space: normal;

                .delivery-text{
                    height: 100%; 
                    width: 203px; 
                    color:black; 
                    text-align:left;
                    font-size:1.5rem;
                    line-height: 3rem;
                }

                .delivery-icon{
                    height: 100%; 
                    width: 33px; 
                    color:#d3d3d3; 
                    padding-top:30px;

                    .icon{
                        width: 33px;
                        height: 100%;
                        margin:0;
                    }
                }
            }
        }

        .delivery-basic-phone, .delivery-basic-time, .delivery-basic-memo{
            width:100%;
            height: 33px;
            padding-left:8px;
            margin-top:2px;

            .phone-label, .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                float: left;

                p{
                    font-size: 14px;
                    font-weight: 800;
                    margin-top: 7px;
                }
            }

            .delivery-phone{
                width:236px;
                height: 33px;
                display: block;
                float: right;
                border:1px solid gray;

                p{
                    margin-top:7px;
                    font-weight: 400;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:color($colors,default);
                position: absolute;
                right:1.8rem;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                width:236px;
                height: 33px;
                display: block;
                float: right;
                font-size:14px;
                color:color($colors,default);
                font-weight: 600;
                padding-left:8px;
                
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-basic-memo{
            margin-bottom:8px;
        }

        .delivery-basic-time .arrow-down-icon{
            top:260px;
        }
        
        .delivery-basic-memo .arrow-down-icon{
            top:295px;
        }
    }
    /* 기본 배송지 끝 */
    
    /* 새로운 배송지 */
    .delivery-detail-new{
        /* 공통 부분 시작 */
        .delivery-new-grid{
            padding:0;
            padding-left:8px;
        }

        ion-row{
            margin:0;
            margin-bottom: 2px;
            padding:0;
            height: 33px;

            div{
                width:100px;

                p{
                    margin:0;
                    margin-top:7px;
                    font-size:14px;
                    font-weight: 600;
                }
            }

            ion-input{
                border: 1px solid gray;

                .text-input{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    font-size:16px;
                    padding-left:8px;
                }

                ::-webkit-input-placeholder {
                    font-size:14px;
                }

                :-moz-placeholder {
                    font-size:14px;
                }

                :-ms-input-placeholder { 
                    font-size:14px;
                }
            }
            
            button{
                margin: 0;
                padding: 0;
                background-color: color($colors,default);
                color:black;
                height: 33px;
                width: 64px;
                min-width:64px;
                font-size:12px;
                font-weight: 600;
                border:1px solid gray;
            }
        }
        /* 공통 부분 끝 */

        /* 받는분은 기본 변경사항으로 충분하기에 따로 수정x*/

        /* 주소 입력 */
        .delivery-new-place{
            height: 30px;
            margin-bottom: 2px;

            .addr-find{
                width:64px;
                height: 30px;
            }

            .delivery-place1{
                margin-left:12px;
            }
            /* delivery-place2 는 기본 변경사항으로 충분하기 때문에 따로 수정 x*/
        }
        
        /* 전화 번호 입력 */
        .delivery-new-phone{

            .delivery-phone{
                width:236px;

                select{
                    width: 70px;
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:1.4rem;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid gray;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:color($colors,default);
                    position: absolute;
                    top:226px;
                    left:168px;
                    width: 12px;
                    height: 12px;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: 200;
                }

                ion-input{
                    width:70px;
                    height: 100%;
                    border: 1px solid gray;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:1.4rem;
                    }
                }
            }
        }

        .delivery-new-time .arrow-down-icon{
            top:261px;
        }

        .delivery-new-memo .arrow-down-icon{
            top:296px;
        }

        .delivery-new-time, .delivery-new-memo{
            width:100%;
            height: 33px;

            .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                float: left;

                p{
                    font-size: 14px;
                    font-weight: 800;
                    margin-top: 7px;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:color($colors,default);
                position: absolute;
                right:1.8rem;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                width:236px;
                height: 33px;
                display: block;
                float: right;
                font-size:14px;
                color:color($colors,default);
                border: 1px solid gray;
                font-weight: 600;
                padding-left:8px;
                
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-new-memo{
            margin-bottom: 8px;
        }
    }
    /* 새로운 배송지 끝*/

    /* 비회원 배송 시작 */
    .orderer-info{
        background-color: white;
        padding:0;
        width:344px;
        margin: 16px 8px 8px 8px;

        /* 공통사항 */
        ion-row{
            margin:0;
            padding:0;
            padding-left:8px;
            height: 33px;
            background-color: color($colors, white);

            div{
                width:100px;

                p{
                    margin:0;
                    margin-top:7px;
                    font-size:14px;
                    font-weight: 600;
                }
            }

            ion-input{

                border: 1px solid gray;
                margin:1px 0;

                .text-input{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    font-size:16px;
                    padding-left:8px;
                }

                ::-webkit-input-placeholder {
                    font-size:14px;
                }

                :-moz-placeholder {
                    font-size:14px;
                }

                :-ms-input-placeholder { 
                    font-size:14px;
                }
            }

            button{
                margin: 1px 0;
                padding: 0;
                background-color: color($colors,default);
                color:black;
                height: 33px;
                width: 64px;
                min-width:64px;
                font-size:12px;
                font-weight: 600;
                border:1px solid gray;
            }
        }
        /* 공통부분 끝 */ 

        /* 주문자 정보 부분 시작 */
        .orderer-info-head{
            height:40px;
            padding-top:8px;
            border-bottom: 2px solid color($colors,default);
            label{
                font-size:16px;
                font-weight: 500;
            }
        }
        
        .orderer-name{
            padding-top:1px;
        }

        /* 전화 번호 입력 */
        .orderer-phone{

            .orderer-phone-input{
                width:236px;

                select{
                    width: 70px;
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:1.4rem;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid gray;
                    margin:1px 0;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:color($colors,default);
                    position: absolute;
                    top:95px;
                    left:168px;
                    width: 12px;
                    height: 12px;
                    z-index: 99;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: 200;
                }

                ion-input{
                    width:70px;
                    height: 31px;
                    border: 1px solid gray;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:1.4rem;
                    }
                }
            }
        }

        /* 이메일 입력 */
        .orderer-email{
            height: 39px;
            
            padding-bottom:8px;
        }
        /* 주문자 정보 부분 끝 */

        /* 비회원 배송정보 시작 */
        /* 배송정보 head */
        .delivery-info-head{
            background-color: white;
            width: 100%;
            height: 40px;
            padding:0;
            padding-left:8px;
            border-bottom:2px solid color($colors,default);

            .delivery-info-label{
                height:40px;
                padding-top:8px;

                label{
                    font-size:16px;
                    font-weight: 500;
                }
            }
        }

        .delivery-new-name{
            margin-top:1px;
        }
        
        /* 주소 입력 */
        .delivery-new-place{
            height: 30px;

            .addr-find{
                width: 64px;
                height: 28px;
            }

            .delivery-place1{
                margin-left:12px;
            }
            /* delivery-place2 는 기본 변경사항으로 충분하기 때문에 따로 수정 x*/
        }

         /* 전화 번호 입력 */
        .delivery-new-phone{

            .delivery-phone{
                width:236px;

                select{
                    width: 70px;
                    height: 31px;
                    float: left;
                    display: block;
                    font-size:1.4rem;
                    -webkit-appearance:none; 
                    -moz-appearance:none;
                    padding-left: 8px;
                    border: 1px solid gray;
                    margin:1px 0;
                }

                .arrow-down-icon{
                    border-width: 2px;
                    border-top-width:0;
                    border-left-width:0;
                    border-style: solid;
                    transform: rotate(45deg);
                    border-color:color($colors,default);
                    position: absolute;
                    top:347px;
                    left:168px;
                    width: 12px;
                    height: 12px;
                }

                span p{
                    width:13px;
                    height: 31px;
                    display:block;
                    float: left;
                    margin: 0;
                    text-align: center;
                    font-size:22px;
                    font-weight: 200;
                }

                ion-input{
                    width:70px;
                    height: 31px;
                    border: 1px solid gray;
                    
                    display: block;
                    float:left;

                    .text-input{
                        font-size:1.4rem;
                    }
                }
            }
        }

        .delivery-new-time .arrow-down-icon{
            top:380px;
        }

        .delivery-new-memo .arrow-down-icon{
            top:412px;
        }

        .delivery-new-time, .delivery-new-memo{
            width:100%;
            height: 33px;
            

            .time-label, .memo-label{
                width:100px;
                max-width: 100px;
                height: 33px;
                float: left;

                p{
                    font-size: 14px;
                    font-weight: 800;
                    margin-top: 7px;
                }
            }

            .arrow-down-icon{
                border-width: 2px;
                border-top-width:0;
                border-left-width:0;
                border-style: solid;
                transform: rotate(45deg);
                border-color:color($colors,default);
                position: absolute;
                right:1.8rem;
                width: 12px;
                height: 12px;
            }

            .delivery-time, .delivery-memo{
                width:236px;
                height: 31px;
                display: block;
                float: right;
                font-size:14px;
                color:color($colors,default);
                border: 1px solid gray;
                margin:1px 0;
                font-weight: 600;
                padding-left:8px;
                
                -webkit-appearance:none; 
                -moz-appearance:none;
                
                /*background-color: color($colors,default);
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 5px;*/
            }
        }

        .delivery-new-memo{
            margin-bottom: 8px;
        }
        /* 비회원 배송정보 끝 */
    }
    /* 비회원 배송 끝 */

    /* 배송정보 끝 */

    /* 상품/결제/결제수단 정보 시작 */
    .product-info, .payment-info, .payment-method-info{
        margin:8px;
        height: auto;
        background-color:white;

        .product-info-head, .payment-info-head, .payment-method-head{
            height: 40px;
            min-height: 40px;
            padding: 0;
            padding-left: 8px;
            border-bottom:2px solid color($colors,default);  

            .item-inner{
                padding: 0;
                border:none;   
                
                .label{
                    margin:0;
                    font-size: 17px;
                    padding-bottom: 5px;
                }

                .info-icon{
                    margin:0;
                    font-size:18px;
                    width:40px;
                    height: 40px;
                    color:black;
                }
            }
        }

        .payment-info-item, .payment-info-item-last{
            height: 31px;
            min-height: 31px;
            padding:0;

            .item-inner{
                border:none;
                padding:0;
                padding-left: 8px;

                .label{
                    margin:0;
                    width:100px;
                    font-weight: 600;
                    font-size:14px;
                }

                .product-price{
                    margin:0;
                    margin-left:24px;
                    padding-right:8px;
                    font-weight: 400;
                }

                .product-total-price{
                    font-size:18px;
                    font-weight: 800;
                    color:red;
                    margin:0;
                    padding-right:8px;
                }

                ion-icon{
                    margin:0;
                    font-size:18px;
                    color:color($colors,default);
                    padding-top:5px;
                }
            }
        }

        .payment-info-item-last{
            height: 39px;
            padding-bottom:8px;
        }

        .product-detail-item{
            height: 144px;
            
            padding:0;

            .item-inner{
                padding:0;
            }

            .label{
                margin:0;
                width:auto;
                height: 144px;
                padding:8px 0 8px 8px;

                .thumbnail-img{
                    height: 64px;
                    width: 64px;
                    float: left;
                }

                .product-info-name{
                    float: left;
                    margin:0;
                    padding-left:8px;
                    height: 64px;
                    font-size:16px;
                }

                .product-info-compo{
                    margin:0;
                    padding-left:8px;
                    height: 64px;
                    padding-top:5px;
                    font-size:12px;
                }

                .product-info-count, .product-info-price{
                    margin:0;
                    padding-left:72px;
                    height: 31px;
                    padding-top:5px;
                    font-size: 16px;
                }
            }
        }

        .payment-method-cash, .payment-method-card, .payment-method-bank{
            width:328px;
            height: 33px;
            min-height: 33px;

            .label{
                margin:0;
                text-align: center;
                font-weight: 600;
            }
        }

        .payment-method-cash{
            margin:0;
            padding:0;
            margin:8px;
            margin-bottom:0;
            
            .item-inner{
                padding:0;
                border:2px solid color($colors, default);
            }
        }

        .payment-method-card{
            margin:0;
            padding:0;
            margin:0px 8px;

            .item-inner{
                padding:0;
                border:2px solid color($colors, default);
                border-top:none;
                border-bottom:none;
            }
        }

        .payment-method-bank{
            margin:0;
            padding:0;
            margin:0px 8px;
            padding-bottom: 8px;
            height: 41px;
            
            .item-inner{
                padding:0;
                height: 33px;
                border:2px solid color($colors, default) !important;
            }
        }
    }
    /* 상품/결제/결제수단 정보 끝 */

    /* 결재 확인 */
    .payment-submit{
        margin:0;
        height: 46px;
        font-size:16px;
        background-color: color($colors, title);
        font-weight: 600;
        padding-bottom: 5px;
    }


}

/* 배송지 선택 popup */
.delivery-popover{
    box-shadow: 1px;

    .popover-wrapper{
        height: auto;

        .popover-content{
            width: 345px;
            height: auto;
            position: absolute;
            top:170px   !important;
            left:0.8rem !important;
        }
    }
}