page-category {

    .category-scroll{
        width: 100%;
        height: 100%;
        background-color: color($colors, default);

        .category-grid{
            width: 100%;
            height: 100%;
            padding:0;

            .category-col{
                padding : 0;                
                height: 90px;
                button{
                    width:100%;
                    height: 100%;
                    border : 1px solid color($colors,default);
                    margin:0;
                    padding:0;
                    background-color: white;
                    color: black;
                    box-shadow: none;
                    font-size:18px;
                }
            }
        }
    }
}
