<ion-header no-shadow no-border>

</ion-header>

<ion-content>
    <ion-grid no-margin no-padding class="home-nav-menu">
        <ion-row>
            <ion-col *ngFor="let category of homeCategories">
                <ion-segment [(ngModel)]="homeCategorySelected">
                    <ion-segment-button [value]="category" (click)="homeCategoryChange(category)">
                        {{category}}
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- recommand page start -->
    <ion-scroll scrollY="true" class="home-scroll" *ngIf="homeCategorySelected==homeCategories[0]"> 
        <div class="recommand-product">
            <ion-slides pager class="home-slide" >
                <ion-slide class="home-slide-child" *ngFor="let image of images" [style.backgroundImage]="'url('+image+')'" (click)="slideItemSelect()">
                    <button type="submit" float-left ion-button outline clear color="black" class="btnPrev" (click)="prev()">  
                        <ion-icon name="ios-arrow-back"></ion-icon>
                    </button>
                    <button type="submit" float-right ion-button outline clear color="black" class="btnNext" (click)="next()">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </button>
                </ion-slide>
            </ion-slides>
        
            <ion-list class="home-product-list">
                <button ion-button no-border *ngFor="let item of items" (click)="itemSelected(item)">
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img src="{{item}}">
                        </ion-thumbnail>
                        <h2>상품명</h2>
                        <p><del>판매가</del></p>
                        <p>행사가</p>
                    </ion-item>
                </button>
            </ion-list>
        </div>
    </ion-scroll>
    <!-- recommand page end -->

    <!-- best page start -->
    <div>
    
    </div>
    <ion-grid no-margin no-padding class="best-nav-menu" *ngIf="homeCategorySelected==homeCategories[1]">
        <ion-row>
            <ion-col *ngFor="let category of bestCategories">
                <ion-segment #categorySegment [(ngModel)]="bestCategorySelected">
                    <ion-segment-button [value]="category" (click)="bestCategoryChange(category)">
                        {{category}}
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
