<ion-header>
  <ion-navbar>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="home-nav-menu">
        <ion-segment [(ngModel)]="menu">
            <ion-segment-button value="recommand">
                럭키추천
            </ion-segment-button>
            <ion-segment-button value="best">
                베스트
            </ion-segment-button>
            <ion-segment-button value="sale">
                알뜰할인
            </ion-segment-button>
            <ion-segment-button value="event">
                이벤트
            </ion-segment-button>
        </ion-segment>
    </div>
    <div style="background-color:dimgrey; height: 100%; width: 100%; padding :8px;">
        <ion-slides pager style="height:168px;">
            <ion-slide *ngFor="let image of images" [style.backgroundImage]="'url('+image+')'">
                <button type="submit" float-left ion-button color="white" class="btnPrev" (click)="prev()">  
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
                <button type="submit" float-right ion-button color="white" class="btnNext" (click)="next()">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </button>
            </ion-slide>
        </ion-slides>

        <ion-scroll scrollY="true" style="background-color: green; height: 100%;">
            <ion-grid>
                <ion-row *ngFor="let item of items">
                    <button ion-button>
                        <ion-col col-2>
                            <ion-card>
                                <img src="{{item}}" />
                            </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-card-content>
                                    <ion-card-title>
                                       상품명
                                    </ion-card-title>
                                    <p><del>판매가</del></p>
                                    <p>행사가</p>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </button>
                </ion-row>
            </ion-grid>
        </ion-scroll>
    </div>
</ion-content>
