page-home {
    .home-nav-menu{
        width: 100%;
        height: 42px;
        position: block;
        color:white;
    }

    .segment-button .segment-md{
        width: 90px;
        height: 49px;
        color: black;
    }

    .recommand-product{
        height: 100%;
        width: 360px;
        margin: 0;
        background-color: color($colors,default);
    }

    .home-slide{
        height: 168px;
        width: 344px;
        margin: 0px 8px 8px 8px;
        
        .home-slide-child{
            width: 100%;
            background-size:100%;
        }

        .btnPrev .brnNext{
            height: 64px;
            width: 64px;
        }

        .button-md{
            font-size:28px;
        }
    }

    .home-scroll{
        height: 100%;
        width:  360px;
    }

    .home-product-list{
        padding: 0;
        margin: 16px 8px 0px 8px;

        width : 344px;
        height: 100%;

        .button-md{
            padding: 0;
            margin: 0;
            width:100%;
            height: 168px;
            box-shadow: none;
            background-color: white;
            margin-bottom: 8px;

            ion-item{
                width: 100%;
                height: 168px;
                padding: 0;
                
                ion-thumbnail{
                    width: 168px;
                    height: 168px;
                    padding:0;
                    margin:0px 8px 0px 0px;

                    img{
                        width: 100%;
                        height: 100%;
                        background-size: 100%;
                    }
                }
            }
        }
    }
    $segment-button-md-text-color-activated:black;
}
