page-home {
    // margin padding 모두 dp 로 추후 수정 필요
    overflow-y: hidden;

    /* home navigation 화면 시작*/
    .home-nav-menu{
        width: 100%;
        height: 42px;

        .segment-button .segment-md{
            width: 90px;
            height: 49px;
        }
    }
    /* home navigation 화면 종료*/

    /* recommand 화면 시작 */
    .home-scroll{
        height: 92%;
        width:  100%;
        background-color: color($colors,default);

        ::-webkit-scrollbar {
            width: 0px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }
        /* optional: show position indicator in red */
        ::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
        
        .home-slide{
            height: 168px;                          // 추후 dp로 수정 필요
            width: 344px;                           // 추후 dp로 수정 필요
            margin: 0px 8px 8px 8px;            
            cursor:pointer;

            .home-slide-child{
                background-size:100%;
            }

            .btnPrev .brnNext{
                height: 64px;
                width: 64px;
            }

            .button-md{
                font-size:28px;
            }
        }

        .home-product-list{
            padding: 0;
            margin: 16px 8px 0px 8px;

            width : 344px;
            height: 100%;

            .button-md{
                padding: 0;
                margin: 0;
                width:100%;
                height: 168px;
                box-shadow: none;
                background-color: white;
                margin-bottom: 8px;

                ion-item{
                    width: 100%;
                    height: 168px;
                    padding: 0;
                    
                    ion-thumbnail{
                        width: 168px;
                        height: 168px;
                        padding:0;
                        margin:0px 8px 0px 0px;

                        img{
                            width: 100%;
                            height: 100%;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    /* recommand 화면 종료 */

    /* best & sale 화면 시작 */
    .best-nav-menu{
        width:  100%;
        height: 40px;

        ion-segment{
            display: block;
            white-space: nowrap;
            font-size: 0;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                display: none;
            }

            ion-segment-button.segment-button {
                display: inline-block;
                width: 60px;
                height: 40px;
                font-size:12px;
            }
        }
    }

    .best-scroll{
        height: 85%;
        width: 100%;
        margin: 0;
        background-color: color($colors,default);
        
        
        ::-webkit-scrollbar {
            width: 0px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }
        /* optional: show position indicator in red */
        ::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

        .best-sort-option{
            width: 344px;               // 나중에 dp 단위로 수정 필요
            height: 40px;
            margin: 0px 8px;
            background-color: color($colors,default);

            select{
                height: 40px;
                width: 100px;
                border : none;
                float:right;
                background-color: color($colors,default);
                -webkit-appearance:none; 
                -moz-appearance:none;
                background: url('../../assets/icon/ios-arrow-down.png');
                background-size:24px;
                background-repeat:no-repeat;
                background-position: 98% 9px;

                option{
                    height: 40px;
                    width: 100px;
                    background-color: color($colors,default);
                    border : none;
                }
            }
        }

        .best-product-list{
            padding:0;
            width: 100%;
            height: 100%;

            ion-row{
                margin:0px 4px;
                width: 352px;           // 추후 dp로 수정 필요
                height: 100%;
            }

            ion-col{
                height: 268px;          // 추후 dp로 수정 필요
                padding:0;
                margin-bottom: 16px;
            }

            .best-product{
                margin:0px 4px;
                width: 168px;           // 추후 dp로 수정 필요
                height: 268px;          // 추후 dp로 수정 필요

                .best-product-img{
                    margin:0;
                    padding:0;
                    width:168px;        // 추후 dp로 수정 필요
                    height:168px;       // 추후 dp로 수정 필요

                    img{
                        width:168px;        // 추후 dp로 수정 필요
                        height:168px;       // 추후 dp로 수정 필요
                        background-size: 100%;
                    }
                }

                ion-card-content{
                    width: 168px;       // 추후 dp로 수정 필요
                    height: 100px;      // 추후 dp로 수정 필요
                    padding: 16px 8px;

                    ion-card-title{
                        font-size: 18px;
                        padding: 0;
                        margin:0;
                    }

                    .best-cart{
                        float: right;
                        background-color: white;
                        box-shadow:none;
                        color: color($colors,title);
                        font-size:24px;
                        padding: 0;
                        position: absolute;
                        right:30px;
                        bottom:15px; 
                    }
                }
            }
        }
    }
    /* best & sale 화면 종료 */

    /* event 화면 시작 */
    .event-scroll{
        height: 92%;
        width: 100%;
        ion-grid{
            width: 344px;
            height: 100%;
            margin: 0px 8px;
            padding: 0;

            ion-row{
                margin-bottom: 8px;
                width: 344px;
                height: 168px;
            }

            // 마지막 row
            ion-row:last-child{

            }
        }

        ::-webkit-scrollbar {
            width: 0px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }
        /* optional: show position indicator in red */
        ::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
    }
    /* event 화면 종료 */
    $segment-button-md-text-color-activated:black;
}
