page-home {

    .home-nav-menu{
        width: 100%;
        height: 42px;
        position: block;
        color:white;
    }

    .segment-button .segment-md{
        width: 90px;
        height: 49px;
        color: black;
    }

    .recommand-product{
        height: 100%;
        width: 360px;
        margin: 0;
        background-color: lightgray;
    }

    .home-slide{
        height: 168px;
        width: 344px;
        margin: 0px 8px 8px 8px;
        
        .home-slide-child{
            width: 100%;
            background-size:100%;
        }

        .btnPrev .brnNext{
            height: 64px;
            width: 64px;
        }

        .button-md{
            font-size:28px;
        }
    }

    .home-scroll{
        height: 100%;
        width:  360px;
    }

    .home-grid{
        padding: 0;
        margin: 16px 8px 0px 8px;

        width : 100%;
        height: 100%;

        ion-row{

            height: 168px;
            margin-bottom: 8px;
            
            .button-md{
                padding: 0;
                margin: 0;
                height: 100%;
                box-shadow: none;
            }

            ion-col{

                padding: 0;
                margin: 0;
                background-color:lightgray;

                .home-image-card{
                    width: 168px;
                    height: 168px;
                    background-size:100%;
                    margin-right:8px;
                }

                .home-content-card{
                    width: 168px;
                    height: 168px;
                }

                ion-card{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    $segment-button-md-text-color-activated:black;
}
