page-buy {

    .scroll-content{
        background-color: $background-color;
    }
    
    /* 주문 페이지 header 시작 */
    ion-header{
        height: 50px;

        .toolbar{
            padding: 0;
            height: 50px;
            min-height: 50px;

            .toolbar-background{
                background-color: $default-title-color;
            }

            .back-button{
                color:$white-btn-color;
                min-width: 40px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                margin-left: 8px;

                .back-button-icon{
                    font-size:$large-icon-size;
                    padding:0;
                }
            }

            .title-home-button{
                text-align: center;
                color: $white-title-color;
                background-color: $default-title-color;
                width: 100%;
                height: 34px;
                font-size:$title-font-size;
                font-weight: bold;
                margin:0;
                padding:0;
            }
        }

        .home-cart{
            box-shadow: none;
            background-color: $default-title-color;
            color: $white-title-color;
            margin-right:8px;
            padding:0;
            width: 48px;
            height: 48px;
            font-size: $icon-size;
            text-align: center;
        }
    }

    /* 구매 페이지 본문 시작 */
    .buy-head{
        height: 48px;
        width: 100%;
        background-color: $white-title-color;
        margin:0;
        padding:0;
        
        .buy-head-label{
            margin: 0;
        }
    }
    
    .buy-list{
        background-color: $background-color;
        width:100%;
        height: auto;
        margin-top:16px;
        padding:0;

        ion-row{
            margin: 0;
            padding: 0;
            padding-left:8px;
            background-color: $white-title-color;
            display: flex;
            align-items: center;

            ion-col{
                padding:0;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        .buy-info-name, .buy-info-price, .buy-info-count{
            width:100%;
            height: 48px;
            font-size:$nav-font-size;

            label{
                padding-bottom: 4px;
            }

            del{
                
                font-size:$small-font-size;
                margin-left: 1rem;
            }
        }

        .buy-info-price{
            margin-bottom:1px;
        }

        .delivery-fee-info{
            width:100%;
            height: 40px;
            padding-left:8px;
            
            p{
                margin:0;
                font-size:$default-font-size;
            }
        }

        .buy-detail-info{
            width:100%;
            height: 208px;
            margin-top: 8px;

            p{
                width: 100%;
                display: block;
                text-align: center;
                font-size: $large-font-size;
            }
        }

        .buy-info-count{
            margin:16px 8px 0px;
            width: calc(100% - 16px);
            padding:0;

            .buy-product-name{
                margin: 0;
                font-weight: bold;
                font-size:$large-font-size;
            }

            /* 상품 수량 선택 */
            .product-add-remove{
                text-align: right;
                width: 100%;
                padding-right: 8px;
                height: 36px;

                .product-count{
                    width:60px;
                    height: 36px;
                    margin:0;
                    float: right;
                    display: flex;
                    align-items: center;
                    border:1px solid $border-color;
                    border-radius: 3px;
                    
                    p{
                        margin : 0;
                        width: 100%;
                        display: block;
                        text-align: center;
                        font-size: $btn-font-size;
                    }
                }

                button{
                    width: 36px;
                    height: 36px;
                    margin:0px;
                    float: right;
                    background-color: $background-color;
                    color:$white-btn-color;
                    border:0;
                }
            }
        }

        .buy-total-price{
            margin:0 8px;
            padding: 0;
            
            width: calc(100% - 16px);
            height: 40px;
            background-color: $background-color;

            p{
                width: 100%;
                text-align: right;
                margin:0;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }

        .buy-button-group{
            margin: 8px;
            width: calc(100% - 16px);
            height: 50px;
            padding:0;

            button{
                margin:0;
                padding:0;
                width: 100%;
                height: 100%;
                font-size:$btn-font-size;
            }

            .buy-basket-btn{
                background-color: $white-btn-color;

                button{
                    color: $black-font-color;
                    font-size:$large-font-size;
                    font-weight: bold;
                }
            }

            .buy-order-btn{
                background-color: $default-btn-color;

                button{
                    color: $white-font-color;
                    font-size:$large-font-size;
                    font-weight: bold;
                }
                
            }
        }
    }
    /* 구매 페이지 본문 끝 */
}
