// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* font-size */
$default-font-size:1.4rem;
$title-font-size:2rem;
$nav-font-size:1.6rem;
$btn-font-size:1.6rem;
$label-font-size:1.4rem;
$back-icon-size:1.4em;
$icon-size:1.8em;
$small-font-size:1.2rem;
$large-font-size:1.8rem;
$large-icon-size:2.4em;

*{
    font-family: 'Malgun Gothic','맑은 고딕',Helvetica,'Apple SD Gothic Neo',Dotum,'돋움',sans-serif;
}


/* color */
$background-color:#d3d3d3;
$white-background-color:white;
$default-title-color:color($colors,title);
$white-title-color : white;
$default-btn-color:color($colors,title);
$white-btn-color:white;
$black-font-color:black;
$white-font-color:white;
$default-font-color:gray;
$border-color:gray;
$icon-color-title:color($colors,title);
$label-color-title:color($colors,title);
$icon-color-default:#d3d3d3;
$icon-color-black:black;
$font-color-highlight : red;
$icon-color-white:white;

@mixin calc($property, $expression){
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

page-tabs{
    ion-tabs .tabbar {
        max-height: 50px; //set pixels here

        .tab-button{
            min-height: 50px !important;
        }
    }

    ion-header{
        height: 50px;
        width: 100%;

        .toolbar{
            min-height: 50px;
        }

        ion-title{
            background-color: $default-title-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .back-arrow{
            margin:0;
            padding:0;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 5px;
            left: 5px;

            button{
                margin:0;
                width: 40px;
                height: 40px;
                font-size: $back-icon-size;

                .button-inner{
                    color:$white-btn-color;
                }
            }
        }
    }

    //.scroll-content{overflow-y: hidden;}

    .title-home-button{
        text-align: center;
        color: $white-title-color;
        background-color: $default-title-color;
        width: calc((144/360)*100vw);
        height: 34px;
        font-size:$title-font-size;
        margin:0;
        padding:0;
    }

    .home-cart{
        box-shadow: none;
        background-color: $default-title-color;
        color:$white-title-color;
        margin-right:8px;
        padding:0;
        width: 48px;
        height: 48px;
        font-size: $icon-size;
        text-align: center;
    }   
}

