<!--
  Generated template for the MypagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>
  <ion-toolbar no-border no-padding no-shadow>
    <ion-buttons class="back-arrow" start *ngIf="showBackbtn==true">
      <button full ion-button icon-only color='white' (click)="back()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="market-title">
      <button ion-buttion class="title-home-button" (click)="moveToHome()"><b>{{shopTitle}}</b></button>
    </ion-title>
    <ion-buttons end *ngIf="showPageType!='배송지관리'">
      <button class="home-cart" (click)="goToShoppingBasket()">
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 로그인 페이지 시작 -->
  <div *ngIf="showPageType=='login'">
    <!-- 상단 회원 비회원 선택 탭 -->
    <ion-grid no-margin no-padding class="login-nav-menu">
      <ion-row>
        <ion-col *ngFor="let loginTab of loginTabs">
          <ion-segment [(ngModel)]="loginTabsSelected">
            <ion-segment-button [value]="loginTab" (click)="loginTabChange(loginTab)">
              {{loginTab}}
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- 회원 탭 시작 -->
    <!-- 아이디 비번 입력창 -->
    <ion-list class="login–input-area" *ngIf="loginTabsSelected=='회원'">
      <ion-item class="id-input">
        <ion-input type="text" [placeholder]="usernamePlaceHolder" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item class="pwd-input">
        <ion-input type="text" [placeholder]="passwordPlaceHolder" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item class="auto-login-check">
        <ion-label><b>자동로그인</b></ion-label>
        <ion-checkbox color="white" mode="md" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>

    <!-- 로그인 회원가입 버튼 -->
    <ion-grid class="login-button-area" *ngIf="loginTabsSelected=='회원'">
      <ion-row  class="login-button">
        <button full ion-button (click)="login()">로그인</button>
      </ion-row>
      <ion-row class="register-button">
        <button (click)="moveToSignup()" full ion-button>회원가입</button>
      </ion-row>
      <ion-row class="find-login-inform">
        <button clear (click)="changeIdPwdFind('아이디 찾기')" ion-button>아이디 찾기</button><p>|</p><button (click)="changeIdPwdFind('비밀번호 찾기')" clear ion-button>비밀번호 찾기</button>
      </ion-row>
    </ion-grid>
    <!-- 회원 탭 끝 -->

    <!-- 비회원 탭 시작 -->
    <!-- 주문자 명 주문 번호 입력 -->
    <ion-list class="nonlogin-input-area" *ngIf="loginTabsSelected=='비회원'">
      <ion-item class="order-name-input">
        <ion-input type="text" [placeholder]="orderNamePlaceHolder" [(ngModel)]="orderName"></ion-input>
      </ion-item>
      <ion-item class="order-number-input">
        <ion-input type="text" [placeholder]="orderNumberPlaceHolder" [(ngModel)]="orderNumber"></ion-input>
      </ion-item>
    </ion-list>

    <!-- 주문자 확인 버튼 -->
    <ion-grid class="login-button-area" *ngIf="loginTabsSelected=='비회원'">
      <ion-row class="login-button">
        <button full ion-button>주문확인</button>
      </ion-row>
    </ion-grid>
    <!-- 비회원 탭 종료 -->

    <!-- 비회원 주문시 보여지는 페이지 (조건 미추가)-->
    <ion-grid class="login-button-area" *ngIf="false">
      <ion-row class="login-button">
        <button full ion-button>비회원구매</button>
      </ion-row>
      <ion-row class="register-button">
        <button full ion-button>회원가입</button>
      </ion-row>
    </ion-grid>
  </div>
  <!-- 로그인 페이지 끝 -->

  <!-- 아이디/비밀번호 찾기 시작-->
  <div style="background-color: white; height: 100%;" *ngIf="showPageType=='find'">
    <!-- 아이디/비밀번호 찾기 선택 segment 시작 -->
    <ion-grid no-margin no-padding class="find-nav-menu">
      <ion-row>
        <ion-col *ngFor="let category of findCategories">
          <ion-segment [(ngModel)]="findCategorySelected">
            <ion-segment-button [value]="category" (click)="findCategoryChange(category)">
              {{category}}
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- 아이디/비밀번호 찾기 선택 segment 끝 -->

    <!-- 아이디/비밀번호 찾기 정보 입력 시작 -->
    <ion-grid class="login-find" [ngSwitch]="findCategorySelected">
      <ion-row class="login-find-checkbox">
        <ion-col>
          <ion-icon class="find-type-checkbox" *ngIf="findLoginInfoMethod=='phone'" name="md-radio-button-on"></ion-icon>
          <ion-icon class="find-type-checkbox" (click)="checkFindLogintype('phone')" *ngIf="findLoginInfoMethod!='phone'" name="md-radio-button-off"></ion-icon>
          <p><b>휴대폰</b></p>
        </ion-col>
        <ion-col>
          <ion-icon class="find-type-checkbox" *ngIf="findLoginInfoMethod=='email'" name="md-radio-button-on"></ion-icon>
          <ion-icon class="find-type-checkbox" (click)="checkFindLogintype('email')" *ngIf="findLoginInfoMethod!='email'" name="md-radio-button-off"></ion-icon>
          <p><b>이메일</b></p>
        </ion-col>
      </ion-row>
      <ion-row class="login-find-id" *ngSwitchCase="findCategories[1]">
        <div class="login-find-label"><p><b>아이디</b></p></div>
        <ion-input class="login-find-input" type="text"></ion-input>
      </ion-row>
      <ion-row class="login-find-name">
        <div class="login-find-label"><p><b>이름</b></p></div>
        <ion-input class="login-find-input" type="text"></ion-input>
      </ion-row>
      <ion-row class="login-find-phone" *ngIf="findLoginInfoMethod=='phone'">
        <div class="login-find-label"><p><b>연락처</b></p></div>
        <div class="login-find-phone-input">
          <div class="arrow-down-icon"></div>
          <select>
            <option>010</option>
            <option>011</option>
          </select>
          <span>
            <p>-</p>
          </span>
          <ion-input class="login-find-phone-input" type="tel" maxlength="4"></ion-input>
          <span>
            <p>-</p>
          </span>
          <ion-input class="login-find-phone-input" type="tel" maxlength="4"></ion-input>
        </div>
      </ion-row>
      <ion-row class="login-find-email" *ngIf="findLoginInfoMethod=='email'">
        <div class="login-find-label"><p><b>가입 이메일</b></p></div>
        <ion-input class="login-find-input" type="phone"></ion-input>
      </ion-row>
    </ion-grid>
    <!-- 아이디/비밀번호 찾기 정보 입력 끝 -->
    <!-- confirm 버튼 -->
    <button ion-button clear class="login-button">확인</button>
    <!-- 아이디/비밀번호 찾기 끝 -->
  </div>

  <!-- 마이 페이지 시작 -->
  <div *ngIf="showPageType=='mypage'">
    <!-- 마이 페이지 타이틀(마이럭키) -->
    <div class="mypage-head">
      <p class="mypage-head-label">마이럭키</p>
    </div>

    <!-- 메이페이지 메뉴 시작 -->
    <ion-list class="mypage-menu-list">
      <ion-item-divider class="mypage-status">
        <h2><b>이충민님</b></h2>
        <p>마이 럭키에 오신 것을 환영합니다.</p>
        <p>현재 회원등급 <span>5등급</span>/구매누적 총액 <span>1,000,000</span>원 입니다.</p>
      </ion-item-divider>
      <button class="mypage-menu" ion-item *ngFor="let menu of mypageMenus" (click)="menuSelected(menu)">
        <p class="mypage-menu-label">{{ menu }}</p>
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-list>
    <!-- 메이페이지 메뉴 끝 -->
  </div>
  <!-- 마이 페이지 끝 -->

  <!-- 주문내역 시작 -->
  <div class="order-history-head" *ngIf="showPageType=='주문내역'">
    <p class="order-history-head-label">주문내역</p>
  </div>
  <ion-scroll scrollY="true" *ngIf="showPageType=='주문내역'">
    <ion-list class="order-history-list" *ngFor="let orderedProduct of orderedProducts">
      <ion-item-divider class="order-history-list-head">
        <p class="order-number-label"><b>주문번호</b></p>
        <p class="order-number">{{orderedProduct.orderedNumber}}</p>
        <button ion-button item-end clear class="order-detail-btn">
          <p>상세보기</p>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item class="order-history">
        <p class="order-history-label">상품명</p>
        <p class="order-history-content">{{orderedProduct.productName}}</p>
      </ion-item>
      <ion-item class="order-history">
        <p class="order-history-label">받는 분</p>
        <p class="order-history-content">{{orderedProduct.productReceiver}}</p>
      </ion-item>
      <ion-item class="order-history">
        <p class="order-history-label">결제방법</p>
        <p class="order-history-content">{{orderedProduct.paymentMethod}}</p>
      </ion-item>
      <ion-item class="order-history">
        <p class="order-history-label">결재금액</p>
        <p class="order-history-content">{{orderedProduct.price}}</p>
      </ion-item>
      <ion-item class="order-history">
        <p class="order-history-label">결제일시</p>
        <p class="order-history-content">{{orderedProduct.buyDate}}</p>
      </ion-item>
      <ion-item class="order-history">
        <p class="order-history-label">주문상태</p>
        <p class="order-history-content">{{orderedProduct.status}}</p>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <!-- 주문내역 끝 -->

  <!-- 배송지 관리 시작 -->
  <div class="delivery-des-head" *ngIf="showPageType=='배송지관리'">
    <p class="delivery-des-head-label">배송지관리</p>
  </div>
  <ion-scroll scrollY="true" *ngIf="showPageType=='배송지관리'">
    <div class="delivery-des-button">
      <button item-end ion-button clear>배송지 추가</button>
    </div>
    <ion-list class="delivery-des-list" *ngFor="let deliveryDesInfo of deliveryDesInfos">
      <ion-item-divider class="delivery-des-list-head">
        <p class="delivery-des-list-label">{{deliveryDesInfo.type}}</p>
        <button class="delivery-des-edit-btn" ion-button item-end clear>수정</button>
        <button class="delivery-des-del-btn" ion-button item-end clear>삭제</button>
      </ion-item-divider>
      <ion-item class="delivery-des-addr">
        <p class="delivery-des-label">주소</p>
        <p class="delivery-des-addr-content">{{deliveryDesInfo.addr}}</p>
      </ion-item>
      <ion-item class="delivery-des">
        <p class="delivery-des-label">받는분</p>
        <p class="delivery-des-content">{{deliveryDesInfo.receiver}}</p>
      </ion-item>
      <ion-item class="delivery-des">
        <p class="delivery-des-label">연락처</p>
        <p class="delivery-des-content">{{deliveryDesInfo.phone}}</p>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <!-- 배송지 관리 끝 -->
</ion-content>