page-productdetail {
    ion-header{
        background-color: $default-title-color;
        height: 50px;
        width: 100%;

        .toolbar{
            min-height: 50px;
        }

        ion-title{
            background-color: $default-title-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .back-arrow{
            margin:0;
            padding:0;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 5px;
            left: 5px;

            button{
                margin:0;
                width: 40px;
                height: 40px;
                font-size:$back-icon-size;

                .button-inner{
                    color:$icon-color-white;
                }
            }
        }
    }

    .title-home-button{
        text-align: center;
        color: $white-title-color;
        background-color: $default-title-color;
        width: 144px;
        height: 34px;
        font-size:$title-font-size;
        margin:0;
        padding:0;
    }

    .home-cart{
        box-shadow: none;
        background-color:  $default-title-color;
        color:$white-title-color;
        margin-right:8px;
        padding:0;
        width: 48px;
        height: 48px;
        font-size: $icon-size;
        text-align: center;
    }

    .header-md .header-ios{
        box-shadow: none;
        display: fixed;
        height: 50px;
        margin:0;
        padding:0;
        border:0;
    }

    .tabbar{
        width:100%;
        height: 50px;
    }

    .product-detail-scroll{
        width: 100%;
        height: 100%;
        background-color : $background-color;

        .scroll-content{
            overflow-y:auto;
        }

        .product-detail-list{
            width: calc(100%-2px);
            height: auto;
            margin: 0 1px;
            
            border-top:none;

            ion-item{
                padding:0;
            }

            ion-label{
                margin : 0;
                padding: 0;
            }

            .product-detail-img{
                width:  100%;
                height: calc((360/640)*100vh);
                margin-bottom: 16px;

                .item-inner{
                    padding : 0;
                    border:0;
                }

                .label{
                    height: calc((360/640)*100vh);
                }

                img{
                    width: 100%;
                    height: calc((360/640)*100vh);
                }
            }

            .product-detail-name, .product-detail-price, .product-detail-delivery{
                width: 100%;
                height: 48px;

                .item-inner{
                    border: 0;
                    padding-left: 8px;
                    padding-right: 0px;
                }

                del{
                    font-size:$small-font-size;
                }
            }

            .product-detail-delivery{
                height: 35px;
                min-height: 35px;
                margin-top:1px;
                margin-bottom:8px;
            }

            .product-detail{
                width: 100%;
                height: 327px;

                .item-inner{
                    padding:0;
                }

                .label{
                    text-align: center;
                    font-size:$large-font-size;
                }
            }
        }
    }

    ion-footer{
        height: 66px;

        .product-detail-tabs{
            position: absolute;
            z-index: 10;
            width: 100%;
            bottom:0;
            left: 0;
            padding:0;
            background-color: $background-color;

            ion-row{
                height: 66px;
                padding: 0 8px;

                ion-col{
                    padding:0;
                    margin:0;
                }

                button{
                    height: 50px;
                    width: 100%;
                    padding:0;
                    margin:8px 0;
                }

                .basket-button{
                    background-color: $white-background-color;
                    color:$black-font-color;
                    font-weight: bold;
                    font-size:$btn-font-size;
                }

                .order-button{
                    background-color: $default-btn-color;
                    color:$white-font-color;
                    font-weight: bold;
                    font-size:$btn-font-size;
                }
            }
        }
    }
}

/* 장바구니 alert */
.popover-shopping-basket{
    box-shadow: 1px;

    .popover-content{
        width: 300px !important;;
        height: 160px;
        position: absolute;
        top:240px   !important;
        left:calc((100% - 300px)/2) !important;
    }
}