page-shoppingbasket {

    /* 장바구니 title 시작 */
    .basket-title{
        background-color: $default-title-color;
        min-height: 50px;
        width: 100%;

        .back-arrow{
            margin:0;
            padding:0;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 5px;
            left: 5px;

            button{
                margin:0;
                width: 40px;
                height: 40px;
                font-size:1.4em;

                .button-inner{
                    color:$white-btn-color;
                }
            }
        }

        ion-title{
            background-color: $default-title-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;

            .toolbar-title{
                height: 34px;
                margin:8px 0px;
                
            }

            .basket-title-word{
                color:$white-font-color;
                font-size:$title-font-size;
                height: 26px;
                margin:4px 0;
            }
        }
    }
    /* 장바구니 title 끝 */

    /* 장바구니 컨텐츠 시작 */
    .basket-scroll{
        height: calc(100% - 50px);
        width:100%;
        background-color:$background-color;

        /* 상품 전체 선택 및 선택 삭제 부분 시작 */
        .basket-product-head{
            width:calc(100%-16px);
            height:40px;
            margin:0px 8px;
            background-color: transparent;

            /* 상품 체크 */
            .basket-product-check{
                width: 100%;
                height: 40px;
                min-height: 40px;
                padding: 0;
                background-color: transparent;

                /* 체크박스 */
                .checkbox-md{
                    margin:8px;

                    .checkbox-icon{
                        width:  24px;
                        height: 24px;
                        border-radius: 5px;
                        background-image:linear-gradient(to bottom, color($colors, default), white);

                        &.checkbox-checked{
                            border:2px solid $border-color;
                            
                            .checkbox-inner{
                                width:10px;
                                height: 15px;
                                left:5px;
                            }
                        }
                    }
                }

                /* 라벨 내부 시작 */
                .input-wrapper{
                    height: 40px;
                }

                .item-inner{
                    padding: 0;
                }

                ion-label{
                    width: auto;
                    height: 24px;
                    margin:8px 0;
                    padding:0;
                    font-size:$label-font-size;

                    b{
                        font-weight: 800;
                    }
                }
                /* 라벨 내부 끝 */

                /* 선택 삭제 버튼 */
                .basket-sel-del{
                    width: 72px;
                    height: 24px;
                    margin: 0;
                    padding: 0;
                    background-color: $white-btn-color;
                    border-radius: 6px;
                    color:$default-font-color;
                    font-weight: 800;
                    font-size:$small-font-size;
                }
            }
        }
        /* 상품 전체 선택 및 선택 삭제 부분 끝 */

        /* 빈 장바구니 시작 */
        .basket-product-none{
            background-color: $white-background-color;
            height: calc((132/640)*100vh);
            width: calc(100% - 16px);
            margin-bottom: 16px;
            padding: 0;
            font-size: $default-font-size;
            color:$default-font-color;
            font-weight: 800;
            
            ion-row{
                height: 100%;
                width: 100%;
                align-items: center;

                p{
                    width:100%;
                    text-align: center;
                }
            }
        }
        /* 빈 장바구니 끝 */

        /* 상품 장바구니 시작 */
        .basket-product-list{
            height: auto;
            width: calc(100% - 16px);
            padding:0;
            margin-bottom:14px;
            background-color: white;

            /* 상품 관련 내용 시작 */
            .basket-product{
                height:calc((95/640)*100vmax + 8px);
                min-height:calc((95/640)*100vmax + 8px);
                
                /* 체크 박스 */
                .checkbox-md{
                    margin:8px;
                    margin-bottom: calc((108/640)*100vh);
                    width:  24px;
                    height: 24px;
                    
                    .checkbox-icon{
                        width:  24px;
                        height: 24px;
                        border-radius: 5px;
                        background-image:linear-gradient(to bottom, color($colors, default), white);

                        &.checkbox-checked{
                            border:2px solid $border-color;
                            
                            .checkbox-inner{
                                width:10px;
                                height: 15px;
                                left:5px;
                            }
                        }
                    }
                }

                /* 상품 이미지 */
                .basket-product-img{
                    width: calc((95/640)*100vmax);
                    height: calc((95/640)*100vmax);
                    margin-top:8px;

                    img{
                        width: calc((95/640)*100vmax);
                        height: calc((95/640)*100vmax);
                    }
                }

                /* 상품 정보 */
                .basket-product-content{
                    height:calc((95/640)*100vmax);
                    width: calc(100% - ((95/640)*100vmax) - 47px);
                    margin-top : 8px;
                    margin-left : 7px;
                    font-size: $default-font-size;
                    color:$default-font-color;
                    font-weight: bold;

                    span:first-child{
                        font-size:$title-font-size;
                        font-weight: bold;
                    }
                }

                /* 상품 수량 선택 */
                .product-add-remove{
                    text-align: end;
                    height: 35px;

                    .product-count{
                        width:62px;
                        height: 35px;
                        margin:0;
                        float: right;
                        text-align: center;
                        border:1px solid $border-color;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;

                        p{
                            margin : 0;
                            width: 100%;
                            text-align: center;
                            font-size: $large-font-size;
                        }
                    }

                    button{
                        width: 35px;
                        height: 35px;
                        margin:0px 1px;
                        float: right;
                        background-color:$background-color;
                        color:$white-btn-color;
                        border:0;
                    }
                }
            }
            /* 상품 관련 내용 끝 */

            /* 상품에 대한 합산 금액 표시*/
            ion-row:last-child{
                height: 36px;
                min-height: 36px;

                ion-col{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                
                div{
                    width:40px;
                }

                p{
                    margin:0;
                    font-size:$label-font-size;
                    color:gray;
                    font-weight: 800;
                }

                .total-price{
                    padding:0;
                    padding-left: 8px;
                }

                .real-price{
                    padding:0;

                    del{
                        font-size: $small-font-size;
                    }

                    p{
                        width: 100%;
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
        /* 상품 장바구니 끝 */

        /* 주문 금액 시작  */
        .basket-product-sum{
            margin:0 8px 16px 8px;
            width: calc(100% - 16px);
            height: 128px;

            ion-item{
                height: 32px;
                min-height: 32px;
                padding:0 8px;
                
                .item-inner{
                    border:0;
                    padding:0;
                    font-weight: 600;
                    p{
                        font-size:16px;
                        color:gray;
                        width: 50%;
                        float:left;
                    }
                }
            }

            ion-item:last-child{
                .item-inner{
                    border-top:1px solid 
                }
            }
        }
        /* 주문 금액 끝  */
    }
    /* 장바구니 컨텐츠 끝 */

    /* 주문 현황 시작 */
    .oder-submit{
        padding:0;
        background-color: $background-color;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom:1px;
        vertical-align: bottom;

        ion-row{
            height: 50px;
            min-height: 50px;
            margin:0 1px;
            background-color: $white-background-color;
        }

        ion-col{
            padding: 2px;
            height: 50px;
            text-align: center;

            /* 주문 정보 시작 */
            p:first-child{
                margin: 0;
                margin-top:4px;
                font-size:$small-font-size;
            }
            
            span{
                font-size:$btn-font-size;
            }
            /* 주문 정보 끝 */

            /* 주문 버튼*/
            button{
                padding: 1px;
                margin:0px;
                width: 100%;
                height: 100%;
                border:none;
                background-color: $default-btn-color;
                color:$white-btn-color;

                .button-inner{
                    font-size: $btn-font-size;
                    font-weight: bold;
                }
            }

            .button:hover{
                background-color: $default-btn-color;
            }
        }
    }
    /* 주문 현황 시작 */
}
