<!--
  Generated template for the ShoppingbasketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border no-shadow>
  <!-- 장바구니 페이지 header 시작 -->
  <ion-toolbar class="basket-title" no-border no-padding no-shadow>
    <ion-buttons class="back-arrow" start>
      <button full ion-button icon-only color='white' (click)="goToHome()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div class="basket-title-word"><b>장바구니</b></div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 장바구니 페이지 header 끝 -->

<ion-content>
  <ion-scroll scrollY="true" class="basket-scroll">

    <!-- 상품 전체 선택 및 선택 삭제 부분 -->
    <ion-list class="basket-product-head">
      <ion-item class="basket-product-check">
        <ion-label><b>전체선택(n/N)</b></ion-label>
        <ion-checkbox color="white" [(ngModel)]="checkedAllProduct" (click)="updateAllProductCheck()" mode="md"></ion-checkbox>
        <button class="basket-sel-del" (click)="deleteItem()" ion-button clear item-end>선택삭제</button>
      </ion-item>
    </ion-list>

    <!-- 빈 장바구니 시작 -->
    <ion-grid class="basket-product-none" *ngIf="itemNumber==0">
      <ion-row>
        <p>장바구니에 담긴 상품이 없습니다.</p>
      </ion-row>
    </ion-grid>
    <!-- 빈 장바구니 끝 -->

    <!-- 상품 장바구니 시작-->
    <ion-grid class="basket-product-list" *ngFor="let product of shoppingBasket; let i = index">
      <ion-row class="basket-product">
        <ion-checkbox color="white" item-top mode="md" [(ngModel)]="checkedProduct[i]" (ionChange)="updateProductCheck(i)"></ion-checkbox>
        <div class="basket-product-img">
          <img src="{{product.imagePath}}">
        </div>
        <div class="basket-product-content">
          <div style="height:calc(100% - 35px);">
            <span>{{product.name}}</span>
            <span>구성/용량</span>
          </div>
          <div class="product-add-remove">
            <button (click)="increaseProductNum(i)" ion-button icon-only outline item-end>
              <ion-icon name="add"></ion-icon>
            </button>
            <div class="product-count"><p>{{product.count}}</p></div>
            <button (click)="decreaseProductNum(i)" ion-button icon-only outline item-end>
              <ion-icon name="remove"></ion-icon>
            </button>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div></div>
        <ion-col class="total-price">
          <p> 합계 </p>
        </ion-col>
        <ion-col class="real-price">
          <p><del>{{product.price * product.count}}</del> {{product.salePrice * product.count}} </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- 상품 장바구니 끝-->

    <!-- 주문 금액 시작-->
    <ion-list class="basket-product-sum">
      <ion-item>
        <p >주문금액</p>
        <p style="text-align: right;">{{orderInfo.orderPrice}}원</p>
      </ion-item>
      <ion-item>
        <p>할인금액</p>
        <p style="text-align: right;">{{orderInfo.sale}}원</p>
      </ion-item>
      <ion-item>
        <p>배송비</p>
        <p style="text-align: right;">{{orderInfo.deliveryFee}}원</p>
      </ion-item>
      <ion-item>
        <p><b>주문 금액</b></p>
        <p style="text-align: right;">{{orderInfo.totalPrice}}원</p>
      </ion-item>
    </ion-list>
    <!-- 주문 금액 끝-->
  </ion-scroll>
</ion-content>

<ion-footer>
  <!-- 주문 현황 시작 -->
  <ion-grid class="oder-submit">
    <ion-row>
      <ion-col col-6>
        <p>전체 {{checkedItemNumber}} 개</p>
        <span>
          <b> {{orderInfo.totalPrice}}원</b>
        </span>
      </ion-col>
      <ion-col col-6>
        <button (click)="goToOrder()" ion-button outline>주문하기</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 주문 현황 끝 -->
</ion-footer>
