page-signup {

    
    ion-header{

        height: 50px;

        .toolbar{
            padding: 0;
            height: 50px;
            min-height: 50px;

            .toolbar-background{
                background-color: $default-title-color;
            }

            .back-button{
                color:$white-btn-color;
                min-width: 40px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                margin-left: 8px;

                .back-button-icon{
                    font-size:$large-icon-size;
                    padding:0;
                }
            }

            .toolbar-title{
                color:$white-title-color;
                text-align: center;
                padding-right:48px;
                padding-left:0;
                font-weight: bold;
            }
        }
    }

    .scroll-content{
        background-color: $background-color;
        overflow: hidden;
    }

    .signup-grid{
        width:calc(100% - 16px);
        height: auto;
        margin:8px;
        padding:8px 0px 0px 8px;
        background-color: $white-background-color;
        
        /* 공통 부분 시작 */
        ion-row{
            margin:0;
            margin-bottom: 8px;
            padding:0;
            height: 32px;

            div{
                width:100px;

                p{
                    margin:0;
                    margin-top:7px;
                    font-size:$default-font-size;
                    font-weight: bold;
                }
            }

            ion-input{
                border: 1px solid $border-color;

                .text-input{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    font-size:$default-font-size;
                    padding-left:8px;
                }

                ::-webkit-input-placeholder {
                    font-size:$default-font-size;
                }

                :-moz-placeholder {
                    font-size:$default-font-size;
                }

                :-ms-input-placeholder { 
                    font-size:$default-font-size;
                }
            }
            
            button{
                margin: 0;
                padding: 0;
                background-color: $background-color;
                color:black;
                height: 32px;
                font-size:$default-font-size;
                border:1px solid $border-color;
            }
        }
        /* 공통 부분 끝 */

        /* 아이디 입력 */
        .signup-id{
            .id-input{
                margin-right:16px;
            }

            .id-confirm{
                width:100px;
                border:1px solid $border-color;
            }
        }
        
        /* 비빌번호 입력과 이름은 공통 사항으로 충분 */
        //.signup-pwd{}
        //.signup-name{}

        /* 이메일 입력 */
        .signup-email{

            .signup-label{
                height: 100%;
            }

            span{
                width:16px;
                height: 100%;
                display: flex;
                align-items: center;

                p{
                    text-align: center;
                    font-size:$large-font-size;
                }
            }

            .email-input{
                height: 100%;
            }

            .email-input2{
                width:100px;
                height: 100%;
                border:1px solid $border-color;
                -webkit-appearance:none; 
                -moz-appearance:none;
                background: url('../../assets/icon/ios-arrow-down-white.png');
                background-size:28px;
                background-repeat:no-repeat;
                background-position: 98% 2px;
            }
        }

        /* 전화 번호 입력 */
        .signup-phone{
            
            margin-bottom: 2px;

            .phone-input-area{
                width: calc(100% - 216px);
                border: 1px solid $border-color;
                margin-right:16px;

                .input{
                    display: block;
                    float:left;
                    width:calc((100% - 24px)/3);
                    height: 30px;
                    margin:0;
                    border:none;

                    .text-input{
                        padding:0;
                        font-size:$default-font-size;
                        width: 100%;
                        text-align: center;
                    }
                }

                .input:first-child{
                    padding-left:5px;
                }

                span{
                    width: 12px;
                    height: 32px;

                    P{
                        width:12px;
                        float: left;
                        margin: 4px 0;
                        text-align: center;
                        font-size:$large-font-size;
                        font-weight: bold;
                    }
                }
                
            }

            .phone-confirm{
                width:100px;
            }

            .phone-confirm-num{
                margin-right:16px;
            }
        }

        /* 주소 입력 */
        .signup-addr{
            margin-bottom: 2px;

            .addr-find{
                width:64px;
            }

            .addr-input1{
                margin-left:12px;
            }
        }

        /* 생년월일 입력 */
        .signup-birth{
            margin-bottom: 2px;

            .signup-label{
                height: 100%;
            }

            .year, .month, .day{

                height: 100%;
                input{
                    padding: 0;
                    text-align: center;
                }

                ::-webkit-input-placeholder {
                    text-align: center;
                }

                :-moz-placeholder {
                    text-align: center;
                }

                :-ms-input-placeholder { 
                    text-align: center;
                }
            }

            span{
                width: 16px;
                height: 100%;
                display: flex;
                align-items: center;

                p{
                    width: 100%;
                    text-align: center;
                    font-size:$large-font-size;
                    font-weight: bold;
                    color:$icon-color-default;
                }
            }
        }

        /* 성별 입력 */
        .signup-sex{
            margin-bottom: 8px;

            .male, .female{
                width:calc((100% - 101px)/2);
                border:1px solid $border-color;
                text-align: center;
                font-size: $default-btn-color;
                font-weight: bold;
            }

            .male{
                margin-right: 1px;
            }
        }
    }

    /*  가입하기 버튼 */
    .signup-submit{
        margin:8px;
        padding:0;
        width:calc(100% - 16px);
        height:50px;
        background-color: $default-btn-color;
        color:$white-btn-color;
        font-size:$large-font-size;
        font-weight: bold;
    }
}

/* 회원 정보 수정 확인 alert */
.alert-modify-member{

    .alert-wrapper{
        width:300px;
        max-width: 300px;
        height: 120px;

        .alert-head{
            padding:0;
        }

        .alert-message{
            width:280px;
            margin:10px;
            height: 40px;
            padding: 0;
            color:$default-font-color;
            font-size: $nav-font-size;
            font-weight: bold;
            text-align: center;
            padding:6px;
        }

        .alert-button-group{
            padding:0;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-justify-content:center;
        }

        .alert-button{
            background-color: $default-btn-color;
            color:$white-btn-color;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            margin: 0;

            .button-inner{
                text-align: center;
                display: block;
                font-size:$btn-font-size;
                font-weight: bold;
            }
        }
    }
}