<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- 회원 가입 시작 -->
  <ion-grid class="signup-grid" *ngIf="isMember==false">
    <!-- 아이디 입력 -->
    <ion-row class="signup-id" *ngIf="isMember==false">
      <div class="signup-label">
        <p>아이디*</p>
      </div>
      <ion-input class="id-input" [(ngModel)]="username" type="text"></ion-input>
      <button class="id-confirm" (click)="checkIDDuplication()" clear ion-button>중복확인</button>
    </ion-row>
    <!-- 비밀번호 입력 -->
    <ion-row class="signup-pwd">
      <div class="signup-label">
        <p>비밀번호*</p>
      </div>
      <ion-input class="pwd-input" [(ngModel)]="password" type="password"></ion-input>
    </ion-row>
    <!-- 비밀번호 확인 입력 -->
    <ion-row class="signup-pwd-confirm">
      <div class="signup-label">
        <p>비밀번호 확인*</p>
      </div>
      <ion-input class="pwd-input" [(ngModel)]="passwordConfirm" type="password"></ion-input>
    </ion-row>
    <!-- 이름 입력 -->
    <ion-row class="signup-name">
      <div class="signup-label">
        <p>이름*</p>
      </div>
      <ion-input class="name-input" [(ngModel)]="name" type="text"></ion-input>
    </ion-row>
    <!-- 이메일 입력 -->
    <ion-row class="signup-email">
      <div class="signup-label">
        <p>이메일*</p>
      </div>
      <ion-input class="email-input" [(ngModel)]="email" type="text"></ion-input>
      <span><p>@</p></span>
      <select class="email-input2" [(ngModel)]="emailOption" (change)="emailOptionChange()">
        <option *ngFor="let emailOptionList of emailOptionLists">{{emailOptionList}}</option>
      </select>
    </ion-row>
    <!-- 휴대폰 입력 -->
    <ion-row class="signup-phone">
      <div class="signup-label">
        <p>휴대폰*</p>
      </div>
      <div class="phone-input-area">
        <ion-input class="phone-input" [(ngModel)]="mobile1" type="tel" maxlength="3"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input class="phone-input" [(ngModel)]="mobile2" type="tel" maxlength="4"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input class="phone-input" [(ngModel)]="mobile3" type="tel" maxlength="4"></ion-input>
      </div>
      <button clear class="phone-confirm" (click)="recieveMobileConfirm()" ion-button>인증번호 받기</button>
    </ion-row>
    <ion-row class="signup-phone">
      <div class="signup-label"></div>
      <ion-input class="phone-confirm-num" type="number"></ion-input>
      <button clear class="phone-confirm" (click)="confirmMobile()" ion-button>인증번호 확인</button>
    </ion-row>
    <!-- 주소 입력 -->
    <ion-row class="signup-addr">
      <div class="signup-label">
        <p>주소</p>
      </div>
      <button clear class="addr-find" (click)="findAddr()" ion-button>주소 찾기</button>
      <ion-input class="addr-input1" [(ngModel)]="address1" type="text"></ion-input>
    </ion-row>
    <ion-row class="signup-addr">
      <div class="signup-label"></div>
      <ion-input class="addr-input2" [(ngModel)]="address2" type="text"></ion-input>
    </ion-row>
    <ion-row class="signup-addr">
      <div class="signup-label"></div>
      <ion-input class="addr-input2" [(ngModel)]="address3" placeholder="상세 주소를 입력해 주세요" type="text"></ion-input>
    </ion-row>
    <!-- 생년월일 입력 -->
    <ion-row class="signup-birth">
      <div class="signup-label">
        <p>생년월일</p>
      </div>
      <ion-input class="year" [(ngModel)]="birthYear" placeholder="YYYY" maxlength="4" type="tel"></ion-input>
      <span>
        <p>/</p>
      </span>
      <ion-input class="month" [(ngModel)]="birthMonth" placeholder="MM" maxlength="2" type="tel"></ion-input>
      <span>
        <p>/</p>
      </span>
      <ion-input class="day" [(ngModel)]="birthDay" placeholder="DD" maxlength="2" type="tel"></ion-input>
    </ion-row>
    <!-- 성별 입력 -->
    <ion-row class="signup-sex">
      <div class="signup-label">
        <p>성별</p>
      </div>
      <div class="male" [style.background-color]="male" (click)="selectMale()"><p>남자</p></div>
      <div class="female" [style.background-color]="female" (click)="selectFemale()"><p>여자</p></div>
    </ion-row>
  </ion-grid>
  <!-- 가입하기 버튼 -->
  <button class="signup-submit" *ngIf="isMember==false" (click)="signupCompBtn()" clear full ion-button>가입하기</button>
  <!-- 회원 가입 끝 -->

  <!-- 회원 정보 수정 시작 -->
  <ion-grid class="signup-grid" *ngIf="isMember==true">
    <!-- 아이디 입력 -->
    <ion-row class="signup-id">
      <div class="signup-label">
        <p>아이디*</p>
      </div>
      <ion-input readonly="true" [(ngModel)]="username" style="background-color:#d3d3d3; margin:0;"  class="id-input" type="text"></ion-input>
    </ion-row>
    <!-- 련재 비밀번호 입력 -->
    <ion-row class="signup-pwd">
      <div class="signup-label">
        <p>현재 비밀번호</p>
      </div>
      <ion-input placeholder="현재 비밀번호를 입력해주세요." [(ngModel)]="currentPasssowrd" class="pwd-input" type="password"></ion-input>
    </ion-row>
    <!-- 새 비밀번호 입력 -->
    <ion-row class="signup-pwd-confirm">
      <div class="signup-label">
        <p>새 비밀번호</p>
      </div>
      <ion-input placeholder="새 비밀번호를 입력해주세요." [(ngModel)]="password" class="pwd-input" type="password"></ion-input>
    </ion-row>
    <!-- 새 비밀번호 입력 -->
    <ion-row class="signup-pwd-confirm">
      <div class="signup-label">
        <p style="font-size:1.3rem;">새 비밀번호 확인</p>
      </div>
      <ion-input placeholder="새 비밀번호를 한번더 입력해주세요." [(ngModel)]="passwordConfirm" class="pwd-input" type="password"></ion-input>
    </ion-row>
    <!-- 이름 입력 -->
    <ion-row class="signup-name">
      <div class="signup-label">
        <p>이름*</p>
      </div>
      <ion-input [(ngModel)]="name" class="name-input" type="text"></ion-input>
    </ion-row>
    <!-- 이메일 입력 -->
    <ion-row class="signup-email">
      <div class="signup-label">
        <p>이메일*</p>
      </div>
      <ion-input [(ngModel)]="email" class="email-input" type="text"></ion-input>
      <span>
        <p>@</p>
      </span>
      <select class="email-input2" [(ngModel)]="emailOption" (change)="emailOptionChange()">
        <option>naver.com</option>
        <option>gmail.com</option>
      </select>
    </ion-row>
    <!-- 휴대폰 입력 -->
    <ion-row class="signup-phone">
      <div class="signup-label">
        <p>휴대폰*</p>
      </div>
      <div class="phone-input-area">
        <ion-input class="phone-input" [(ngModel)]="mobile1" type="tel" maxlength="3"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input class="phone-input" [(ngModel)]="mobile2" type="tel" maxlength="4"></ion-input>
        <span>
          <p>-</p>
        </span>
        <ion-input class="phone-input" [(ngModel)]="mobile3" type="tel" maxlength="4"></ion-input>
      </div>
      <button clear class="phone-confirm" ion-button>다른번호 인증</button>
    </ion-row>
    <ion-row class="signup-phone">
      <div class="signup-label"></div>
      <ion-input class="phone-confirm-num" type="number"></ion-input>
      <button clear class="phone-confirm" ion-button>인증번호 확인</button>
    </ion-row>
    <!-- 생년월일 입력 -->
    <ion-row class="signup-birth">
      <div class="signup-label">
        <p>생년월일</p>
      </div>
      <ion-input class="year" [(ngModel)]="birthYear" placeholder="YYYY" maxlength="4" type="tel"></ion-input>
      <span>
        <p>/</p>
      </span>
      <ion-input class="month" [(ngModel)]="birthMonth" placeholder="MM" maxlength="2" type="tel"></ion-input>
      <span>
        <p>/</p>
      </span>
      <ion-input class="day" [(ngModel)]="birthDay" placeholder="DD" maxlength="2" type="tel"></ion-input>
    </ion-row>
    <!-- 성별 입력 -->
    <ion-row class="signup-sex">
      <div class="signup-label">
        <p>성별</p>
      </div>
      <div class="male" [style.background-color]="male" (click)="selectMale()">
        <p>남자</p>
      </div>
      <div class="female" [style.background-color]="female" (click)="selectFemale()">
        <p>여자</p>
      </div>
    </ion-row>
  </ion-grid>
  <!-- 수정하기 버튼 -->
  <button class="signup-submit" (click)="presentAlert()" *ngIf="isMember==true" clear full ion-button>수정하기</button>
  <!-- 회원 정보 수정 끝 -->
</ion-content>
